In [2]:
!pwd
!ls

/ihme/homes/nicoly/notebooks/Project BEP_gates

In [1]:
from vivarium import Artifact
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from db_queries import get_ids, get_outputs

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
output_dirs = ['/share/costeffectiveness/results/vivarium_gates_bep/malnutrition/india/2020_02_05_03_02_13/count_space/',
               '/share/costeffectiveness/results/vivarium_gates_bep/malnutrition/mali/2020_02_05_03_02_02/count_space/',
               '/share/costeffectiveness/results/vivarium_gates_bep/malnutrition/tanzania/2020_02_05_03_07_37/count_space/']
locations = ['India',
             'Mali',
            'Tanzania']

In [3]:
def get_aggregate_results(measure):
    data = measure.drop(columns='input_draw')
    data_mean = data.groupby(['malnourishment_category','age_group']).mean()
    data_min = data.groupby(['malnourishment_category','age_group']).min()
    data_max = data.groupby(['malnourishment_category','age_group']).max()
    data_fin1 = data_mean.merge(data_min, right_index=True, left_index=True, suffixes=['_mean','_lower'])
    data_fin2 = data_mean.merge(data_max, right_index=True, left_index=True, suffixes=['_mean','_upper'])
    data_fin = data_fin1.merge(data_fin2, right_index=True, left_index=True, suffixes=['','_drop'])
    data_fin = data_fin.drop(columns=[c for c in data_fin.columns if 'drop' in c])
    return data_fin

master_results = pd.DataFrame()
for i in list(range(0,3)):
    deaths = pd.read_hdf(output_dirs[i] + 'deaths.hdf').reset_index().groupby(['malnourishment_category',
                               'age_group','input_draw']).sum().reset_index()
    person_time = pd.read_hdf(output_dirs[i] + 'person_time.hdf').reset_index().groupby(['malnourishment_category',
                               'age_group','input_draw']).sum().reset_index()
    ylds = pd.read_hdf(output_dirs[i] + 'ylds.hdf').reset_index().groupby(['malnourishment_category',
                               'age_group','input_draw']).sum().reset_index()
    ylls = pd.read_hdf(output_dirs[i] + 'ylls.hdf').reset_index().groupby(['malnourishment_category',
                               'age_group','input_draw']).sum().reset_index()
    
    deaths = deaths.merge(person_time, right_on=['input_draw','malnourishment_category','age_group'],
                         left_on=['input_draw','malnourishment_category','age_group'])
    deaths['death_rate'] = deaths['deaths'] / deaths['person_time']    
   
    dalys = ylds.merge(ylls, right_on=['input_draw','age_group','malnourishment_category'],
                            left_on=['input_draw','age_group','malnourishment_category'])
    dalys = dalys.merge(person_time, right_on=['input_draw','age_group','malnourishment_category'],
                            left_on=['input_draw','age_group','malnourishment_category'], suffixes=['','_drop'])
    dalys['yld_rate'] = dalys['ylds'] / dalys['person_time']
    dalys['yll_rate'] = dalys['ylls'] / dalys['person_time']
    dalys['dalys'] = dalys['ylds'] + dalys['ylls']
    dalys['daly_rate'] = dalys['yld_rate'] + dalys['yll_rate']
    
    deaths_fin = get_aggregate_results(deaths)
    dalys_fin = get_aggregate_results(dalys)
    results = deaths_fin.merge(dalys_fin, right_index=True, left_index=True, suffixes=['','_drop'])
    results['location'] = locations[i]
    master_results = master_results.append(results)
master_results = master_results.reset_index().set_index(['location','malnourishment_category','age_group'])
master_results = master_results.drop(columns=[c for c in master_results.columns if '_drop' in c])
master_results_rates = master_results.drop(columns = [c for c in master_results if 'rate' not in c])
master_results_rates = master_results_rates * 100_000
master_results_rates

                                                 death_rate_mean  \
location malnourishment_category age_group
India    malnourished            1_to_4               202.104271
                                 1mo_to_6mo          1936.526046
                                 6mo_to_1            1983.155237
                                 early_neonatal    113097.216042
                                 late_neonatal       7530.095941
         not_malnourished        1_to_4               127.143918
                                 1mo_to_6mo          1044.106500
                                 6mo_to_1            1063.130361
                                 early_neonatal     55050.260216
                                 late_neonatal       4624.358423
Mali     malnourished            1_to_4              1875.840159
                                 1mo_to_6mo          4539.541865
                                 6mo_to_1            4952.686156
                                 early_neonatal    143341.662858
                                 late_neonatal      10476.871139
         not_malnourished        1_to_4              1339.276969
                                 1mo_to_6mo          3256.430516
                                 6mo_to_1            3277.515335
                                 early_neonatal     86912.528323
                                 late_neonatal       8062.370634
Tanzania malnourished            1_to_4               647.300501
                                 1mo_to_6mo          2919.073632
                                 6mo_to_1            3042.053968
                                 early_neonatal     73361.082981
                                 late_neonatal       5641.060488
         not_malnourished        1_to_4               451.704040
                                 1mo_to_6mo          2079.992180
                                 6mo_to_1            2099.721762
                                 early_neonatal     61676.691982
                                 late_neonatal       4842.389047

                                                 death_rate_lower  \
location malnourishment_category age_group
India    malnourished            1_to_4                137.515966
                                 1mo_to_6mo           1560.841907
                                 6mo_to_1             1392.433231
                                 early_neonatal      74320.610533
                                 late_neonatal        6468.231950
         not_malnourished        1_to_4                114.888576
                                 1mo_to_6mo            970.344675
                                 6mo_to_1             1008.648175
                                 early_neonatal      47636.519509
                                 late_neonatal        4058.100411
Mali     malnourished            1_to_4               1405.868550
                                 1mo_to_6mo           3967.550037
                                 6mo_to_1             3937.651696
                                 early_neonatal     110304.088134
                                 late_neonatal        8307.037118
         not_malnourished        1_to_4               1044.092115
                                 1mo_to_6mo           2528.535416
                                 6mo_to_1             2497.675157
                                 early_neonatal      68381.009473
                                 late_neonatal        7100.374211
Tanzania malnourished            1_to_4                503.029616
                                 1mo_to_6mo           2435.512521
                                 6mo_to_1             1968.079311
                                 early_neonatal      58950.494454
                                 late_neonatal        4064.137548
         not_malnourished        1_to_4                370.257161
                                 1mo_to_6mo           1847.918125
                                 6mo_to_1             1804.380242
                                 early_neonatal      51179.135141
                                 late_neonatal        4128.691017

                                                 death_rate_upper  \
location malnourishment_category age_group
India    malnourished            1_to_4                280.203961
                                 1mo_to_6mo           2713.943183
                                 6mo_to_1             2552.259239
                                 early_neonatal     178314.929187
                                 late_neonatal        9307.900990
         not_malnourished        1_to_4                148.705126
                                 1mo_to_6mo           1146.458208
                                 6mo_to_1             1132.316839
                                 early_neonatal      62028.135457
                                 late_neonatal        5149.135587
Mali     malnourished            1_to_4               2643.960189
                                 1mo_to_6mo           6359.689954
                                 6mo_to_1             5609.697596
                                 early_neonatal     203529.328367
                                 late_neonatal       14107.265071
         not_malnourished        1_to_4               1482.330571
                                 1mo_to_6mo           3710.851968
                                 6mo_to_1             3688.462067
                                 early_neonatal      98476.793438
                                 late_neonatal        9158.189152
Tanzania malnourished            1_to_4                881.504766
                                 1mo_to_6mo           4223.997810
                                 6mo_to_1             3744.131810
                                 early_neonatal      93715.104709
                                 late_neonatal        7447.623731
         not_malnourished        1_to_4                508.857045
                                 1mo_to_6mo           2347.104542
                                 6mo_to_1             2393.817282
                                 early_neonatal      73858.743063
                                 late_neonatal        6240.545679

                                                 yld_rate_mean  yll_rate_mean  \
location malnourishment_category age_group
India    malnourished            1_to_4            1612.935268   1.748551e+04
                                 1mo_to_6mo        2058.277589   1.697040e+05
                                 6mo_to_1          2039.061807   1.729967e+05
                                 early_neonatal    2829.633564   9.939244e+06
                                 late_neonatal     3027.814652   6.615054e+05
         not_malnourished        1_to_4             570.044672   1.100144e+04
                                 1mo_to_6mo         742.818533   9.150243e+04
                                 6mo_to_1           729.478923   9.273936e+04
                                 early_neonatal    1294.912603   4.837915e+06
                                 late_neonatal     1321.516370   4.062400e+05
Mali     malnourished            1_to_4            1581.094496   1.622932e+05
                                 1mo_to_6mo        1769.150180   3.978190e+05
                                 6mo_to_1          1744.258137   4.320348e+05
                                 early_neonatal    2174.277813   1.259721e+07
                                 late_neonatal     1640.800745   9.203562e+05
         not_malnourished        1_to_4             577.241942   1.158666e+05
                                 1mo_to_6mo         719.159516   2.853821e+05
                                 6mo_to_1           699.844846   2.859020e+05
                                 early_neonatal    1100.916602   7.638040e+06
                                 late_neonatal      968.252443   7.082551e+05
Tanzania malnourished            1_to_4             657.390768   5.599135e+04
                                 1mo_to_6mo        1091.414613   2.558104e+05
                                 6mo_to_1          1090.739766   2.653710e+05
                                 early_neonatal     968.749852   6.447131e+06
                                 late_neonatal      488.547084   4.955540e+05
         not_malnourished        1_to_4             321.993744   3.907865e+04
                                 1mo_to_6mo         496.579626   1.822804e+05
                                 6mo_to_1           489.041723   1.831635e+05
                                 early_neonatal     590.237354   5.420268e+06
                                 late_neonatal      450.417177   4.253908e+05

                                                 daly_rate_mean  \
location malnourishment_category age_group
India    malnourished            1_to_4            1.909844e+04
                                 1mo_to_6mo        1.717623e+05
                                 6mo_to_1          1.750358e+05
                                 early_neonatal    9.942074e+06
                                 late_neonatal     6.645333e+05
         not_malnourished        1_to_4            1.157149e+04
                                 1mo_to_6mo        9.224525e+04
                                 6mo_to_1          9.346883e+04
                                 early_neonatal    4.839210e+06
                                 late_neonatal     4.075616e+05
Mali     malnourished            1_to_4            1.638743e+05
                                 1mo_to_6mo        3.995882e+05
                                 6mo_to_1          4.337791e+05
                                 early_neonatal    1.259938e+07
                                 late_neonatal     9.219970e+05
         not_malnourished        1_to_4            1.164439e+05
                                 1mo_to_6mo        2.861012e+05
                                 6mo_to_1          2.866018e+05
                                 early_neonatal    7.639141e+06
                                 late_neonatal     7.092234e+05
Tanzania malnourished            1_to_4            5.664874e+04
                                 1mo_to_6mo        2.569018e+05
                                 6mo_to_1          2.664618e+05
                                 early_neonatal    6.448100e+06
                                 late_neonatal     4.960426e+05
         not_malnourished        1_to_4            3.940064e+04
                                 1mo_to_6mo        1.827770e+05
                                 6mo_to_1          1.836525e+05
                                 early_neonatal    5.420858e+06
                                 late_neonatal     4.258412e+05

                                                 yld_rate_lower  \
location malnourishment_category age_group
India    malnourished            1_to_4             1078.833185
                                 1mo_to_6mo         1346.577666
                                 6mo_to_1           1338.480396
                                 early_neonatal     1899.867799
                                 late_neonatal      2027.852483
         not_malnourished        1_to_4              411.608617
                                 1mo_to_6mo          528.114136
                                 6mo_to_1            518.278143
                                 early_neonatal      945.189965
                                 late_neonatal       958.766096
Mali     malnourished            1_to_4             1182.582578
                                 1mo_to_6mo         1292.948224
                                 6mo_to_1           1300.972977
                                 early_neonatal     1506.017046
                                 late_neonatal       989.087442
         not_malnourished        1_to_4              460.096194
                                 1mo_to_6mo          528.340420
                                 6mo_to_1            512.509616
                                 early_neonatal      826.455955
                                 late_neonatal       665.528215
Tanzania malnourished            1_to_4              421.531536
                                 1mo_to_6mo          645.881033
                                 6mo_to_1            655.390739
                                 early_neonatal      664.940026
                                 late_neonatal       287.842571
         not_malnourished        1_to_4              226.432936
                                 1mo_to_6mo          347.205597
                                 6mo_to_1            340.800353
                                 early_neonatal      412.138962
                                 late_neonatal       271.618911

                                                 yll_rate_lower  \
location malnourishment_category age_group
India    malnourished            1_to_4            1.189090e+04
                                 1mo_to_6mo        1.367886e+05
                                 6mo_to_1          1.214588e+05
                                 early_neonatal    6.531441e+06
                                 late_neonatal     5.682241e+05
         not_malnourished        1_to_4            9.940599e+03
                                 1mo_to_6mo        8.503822e+04
                                 6mo_to_1          8.798829e+04
                                 early_neonatal    4.186386e+06
                                 late_neonatal     3.564978e+05
Mali     malnourished            1_to_4            1.216354e+05
                                 1mo_to_6mo        3.477201e+05
                                 6mo_to_1          3.435433e+05
                                 early_neonatal    9.693729e+06
                                 late_neonatal     7.297519e+05
         not_malnourished        1_to_4            9.031716e+04
                                 1mo_to_6mo        2.215905e+05
                                 6mo_to_1          2.178728e+05
                                 early_neonatal    6.009453e+06
                                 late_neonatal     6.237437e+05
Tanzania malnourished            1_to_4            4.352525e+04
                                 1mo_to_6mo        2.134018e+05
                                 6mo_to_1          1.716864e+05
                                 early_neonatal    5.180707e+06
                                 late_neonatal     3.570277e+05
         not_malnourished        1_to_4            3.202351e+04
                                 1mo_to_6mo        1.619439e+05
                                 6mo_to_1          1.573970e+05
                                 early_neonatal    4.497725e+06
                                 late_neonatal     3.626939e+05

                                                 daly_rate_lower  \
location malnourishment_category age_group
India    malnourished            1_to_4             1.308139e+04
                                 1mo_to_6mo         1.383065e+05
                                 6mo_to_1           1.229684e+05
                                 early_neonatal     6.533622e+06
                                 late_neonatal      5.711755e+05
         not_malnourished        1_to_4             1.046328e+04
                                 1mo_to_6mo         8.582611e+04
                                 6mo_to_1           8.876502e+04
                                 early_neonatal     4.187783e+06
                                 late_neonatal      3.574566e+05
Mali     malnourished            1_to_4             1.228180e+05
                                 1mo_to_6mo         3.490131e+05
                                 6mo_to_1           3.448442e+05
                                 early_neonatal     9.695418e+06
                                 late_neonatal      7.311821e+05
         not_malnourished        1_to_4             9.086029e+04
                                 1mo_to_6mo         2.223157e+05
                                 6mo_to_1           2.185819e+05
                                 early_neonatal     6.010561e+06
                                 late_neonatal      6.244093e+05
Tanzania malnourished            1_to_4             4.403098e+04
                                 1mo_to_6mo         2.143386e+05
                                 6mo_to_1           1.726186e+05
                                 early_neonatal     5.181547e+06
                                 late_neonatal      3.576293e+05
         not_malnourished        1_to_4             3.230872e+04
                                 1mo_to_6mo         1.625397e+05
                                 6mo_to_1           1.578575e+05
                                 early_neonatal     4.498272e+06
                                 late_neonatal      3.631479e+05

                                                 yld_rate_upper  \
location malnourishment_category age_group
India    malnourished            1_to_4             2466.265952
                                 1mo_to_6mo         3054.132950
                                 6mo_to_1           3025.499091
                                 early_neonatal     3900.889391
                                 late_neonatal      4309.923607
         not_malnourished        1_to_4              759.911695
                                 1mo_to_6mo          968.401476
                                 6mo_to_1            959.706113
                                 early_neonatal     1586.942376
                                 late_neonatal      1605.523656
Mali     malnourished            1_to_4             2366.921161
                                 1mo_to_6mo         2482.944761
                                 6mo_to_1           2471.388589
                                 early_neonatal     3003.535634
                                 late_neonatal      2722.717259
         not_malnourished        1_to_4              785.071591
                                 1mo_to_6mo          932.080785
                                 6mo_to_1            913.978373
                                 early_neonatal     1405.292305
                                 late_neonatal      1172.286361
Tanzania malnourished            1_to_4             1028.910702
                                 1mo_to_6mo         1723.373640
                                 6mo_to_1           1732.099038
                                 early_neonatal     1445.184124
                                 late_neonatal       601.628277
         not_malnourished        1_to_4              461.102189
                                 1mo_to_6mo          643.954699
                                 6mo_to_1            642.865448
                                 early_neonatal      832.884555
                                 late_neonatal       578.014254

                                                 yll_rate_upper  \
location malnourishment_category age_group
India    malnourished            1_to_4            2.423440e+04
                                 1mo_to_6mo        2.378459e+05
                                 6mo_to_1          2.226780e+05
                                 early_neonatal    1.567077e+07
                                 late_neonatal     8.176721e+05
         not_malnourished        1_to_4            1.286771e+04
                                 1mo_to_6mo        1.004740e+05
                                 6mo_to_1          9.876815e+04
                                 early_neonatal    5.451147e+06
                                 late_neonatal     4.523416e+05
Mali     malnourished            1_to_4            2.287143e+05
                                 1mo_to_6mo        5.573135e+05
                                 6mo_to_1          4.894047e+05
                                 early_neonatal    1.788665e+07
                                 late_neonatal     1.239283e+06