In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>")) #makes the display bars longer and spread out 100% across the screen width

In [2]:
from vivarium import Artifact
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from db_queries import get_ids, get_outputs
import scipy.stats

In [3]:
#find file paths 5a

%cd /share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_a/tanzania/2020_10_16_16_12_19/count_data

#/india/2020_10_14_14_22_44/count_data <--wrong data

%ls

!whoami
!date

/ihme/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_a/tanzania/2020_10_16_16_12_19/count_data
birth_weight.csv    deaths.csv           population.csv         ylds.csv
birth_weight.hdf    deaths.hdf           population.hdf         ylds.hdf
cgf_categories.csv  gestational_age.csv  state_person_time.csv  ylls.csv
cgf_categories.hdf  gestational_age.hdf  state_person_time.hdf  ylls.hdf
cgf_z_scores.csv    person_time.csv      transition_count.csv
cgf_z_scores.hdf    person_time.hdf      transition_count.hdf
nicoly
Mon Oct 19 17:31:00 PDT 2020

In [4]:
#find file paths 5b

%cd /share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_b/tanzania/2020_10_16_16_22_21/count_data
%ls

!whoami
!date

/ihme/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_b/tanzania/2020_10_16_16_22_21/count_data
birth_weight.csv    deaths.csv           population.csv         ylds.csv
birth_weight.hdf    deaths.hdf           population.hdf         ylds.hdf
cgf_categories.csv  gestational_age.csv  state_person_time.csv  ylls.csv
cgf_categories.hdf  gestational_age.hdf  state_person_time.hdf  ylls.hdf
cgf_z_scores.csv    person_time.csv      transition_count.csv
cgf_z_scores.hdf    person_time.hdf      transition_count.hdf
nicoly
Mon Oct 19 17:31:00 PDT 2020

In [5]:
#scenarios in each of the runs

#run1 (baseline, mmn, bep_hd_universal_i & targeted_i)
#run2 (bep_ce_universal & targeted)
#run3 (bep_ce_universal & targeted)
#run4 (baseline, mmn, bep_hd_universal_iii & targeted_iii)

#summer model
#scenarios in each of the runs

#run1 (baseline, mmn, bep_hd_universal_i & targeted_i)
#run2 (bep_ce_universal & targeted)
#run3 (bep_ce_universal & targeted)
#run4 (baseline, mmn, bep_hd_universal_iii & targeted_iii)

output_dirs5a = ['/share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_a/india/2020_10_16_08_59_11/count_data/',
                 '/share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_a/pakistan/2020_10_16_16_09_17/count_data/',
                 '/share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_a/mali/2020_10_16_16_06_10/count_data/',
                 '/share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_a/tanzania/2020_10_16_16_12_19/count_data/']

output_dirs5b = ['/share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_b/india/2020_10_14_14_43_07/count_data/',
                 '/share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_b/pakistan/2020_10_16_16_19_08/count_data/',
                 '/share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_b/mali/2020_10_16_16_16_56/count_data/',
                 '/share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_b/tanzania/2020_10_16_16_22_21/count_data/']

#location labels
locations = ['India','Pakistan','Mali','Tanzania']

#use in sort_values to make custum sort list. I sorted by region. 
sorter = ['India','mali','Mali','Tanzania']
sorterIndex = dict(zip(sorter,range(len(sorter))))

#feb model
output_dirs = ['/share/costeffectiveness/results/vivarium_gates_bep/malnutrition/india/2020_02_05_03_02_13/count_space/',
              '/share/costeffectiveness/results/vivarium_gates_bep/malnutrition/mali/2020_02_05_03_02_02/count_space/',
              '/share/costeffectiveness/results/vivarium_gates_bep/malnutrition/tanzania/2020_02_05_03_07_37/count_space/']



#location labels
locations = ['India','Pakistan','Mali','Tanzania']

#use in sort_values to make custum sort list. I sorted by region. 
sorter = ['India','Pakistan','Mali','Tanzania']
sorterIndex = dict(zip(sorter,range(len(sorter))))

## testing

In [6]:
cgf_india = pd.read_hdf('/share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_a/india/2020_10_16_08_59_11/count_data/cgf_z_scores.hdf').reset_index()
print(len(cgf_india))
cgf_india.head()

12800

,index,risk,treatment_group,mother_status,measure,input_draw,scenario,value,timepoint
0,0,stunting,bep,malnourished,mean,3,baseline,0.000000,twenty_nine_days
1,1,stunting,bep,malnourished,mean,3,baseline,0.000000,three_six_six_days
2,2,stunting,bep,malnourished,mean,3,bep_ce_scale_up,9.090543,twenty_nine_days
3,3,stunting,bep,malnourished,mean,3,bep_ce_scale_up,8.463733,three_six_six_days
4,4,stunting,bep,malnourished,mean,3,bep_ce_targeted_scale_up,9.090543,twenty_nine_days

In [7]:
cgf_india['treatment_group'].value_counts()

mmn     3200
bep     3200
ifa     3200
none    3200
Name: treatment_group, dtype: int64

In [8]:
deaths_india = pd.read_hdf('/share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_a/india/2020_10_16_08_59_11/count_data/deaths.hdf')
deaths_india.head()

,age_group,cause,treatment_group,mother_status,measure,input_draw,scenario,value
0,1_to_4,diarrheal_diseases,bep,malnourished,death,3,baseline,0.0
1,1_to_4,diarrheal_diseases,bep,malnourished,death,3,bep_ce_scale_up,1.0
2,1_to_4,diarrheal_diseases,bep,malnourished,death,3,bep_ce_targeted_scale_up,1.0
3,1_to_4,diarrheal_diseases,bep,malnourished,death,3,mmn_scale_up,0.0
4,1_to_4,diarrheal_diseases,bep,malnourished,death,21,baseline,0.0

In [9]:
deaths_india['cause'].value_counts()

other_causes                    8000
diarrheal_diseases              8000
lower_respiratory_infections    8000
protein_energy_malnutrition     8000
measles                         8000
Name: cause, dtype: int64

In [10]:
died_india = deaths_india.groupby(['input_draw', 'scenario','mother_status', 'treatment_group']).sum().reset_index()
died_india = died_india.rename(columns={'value':'deaths'})
died_india.head()

   input_draw  scenario mother_status treatment_group  deaths
0           3  baseline  malnourished             bep     0.0
1           3  baseline  malnourished             ifa   247.0
2           3  baseline  malnourished             mmn     0.0
3           3  baseline  malnourished            none   473.0
4           3  baseline        normal             bep     0.0

# CGF z-score shift check

# ------------------------------------------------------------------------------------

## RUN 5a BASELINE, MMN, BEP_CE_scale_up, BEP_TARGETED_scale_up

In [11]:
#RUN 5a (bep_ce_universal & targeted)

master_cgf_5a = pd.DataFrame()

for i in list(range(len(output_dirs5a))):
    #cgf
    cgf_5a = pd.read_hdf(output_dirs5a[i] + 'cgf_z_scores.hdf').reset_index().sort_values(by=['input_draw','risk','measure','scenario','treatment_group','mother_status'])
    cgf_5a = cgf_5a.rename(columns={'value':'zscore'})
    cgf_5a['Z_SCORE'] = cgf_5a['zscore'] - 10
    
    #population
    pop = pd.read_hdf(output_dirs5a[i] + 'population.hdf').reset_index()
    pop = pop.where(pop['measure'] == 'total_population').dropna().rename(columns={'value':'start_population'}).drop(columns=['index','measure'])
    
    died = pd.read_hdf(output_dirs5a[i] + 'deaths.hdf')
    died = died.groupby(['input_draw', 'scenario','mother_status','treatment_group']).sum().rename(columns={'value':'deaths'}).reset_index()
    
    pop = pop.merge(died, right_on=['scenario','treatment_group','mother_status','input_draw'], left_on=['scenario','treatment_group','mother_status','input_draw'])
    
    data = pd.merge(cgf_5a, pop, left_on=['input_draw','scenario','treatment_group','mother_status'], right_on=['input_draw','scenario','treatment_group','mother_status'], how='outer')
   
    #print(data)
    data_1 = data.groupby(['risk','measure','scenario','treatment_group','mother_status','timepoint']).mean().drop(columns=['input_draw','index']).reset_index() #average over input draws
    data_2 = data.groupby(['risk','measure','scenario','treatment_group','mother_status','timepoint']).Z_SCORE.describe(percentiles=[.025, 0.975]).filter(['mean', '2.5%', '97.5%']).reset_index() #get 95%CIs
    
    data = pd.merge(data_1, data_2, left_on=['risk','measure','scenario','treatment_group','mother_status','timepoint'], right_on=['risk','measure','scenario','treatment_group','mother_status','timepoint'], how='outer')
    
    #print(data)
    
    data['alive'] = data['start_population'] - data['deaths']
    data['alive_x_cgf'] = data['Z_SCORE'] * data['alive'] #cannot use this as weight because the population is the population supplemented (or at birth) whereas the z-score is among alive population at 2 years
    data['location'] = locations[i]
    master_cgf_5a = master_cgf_5a.append(data)
    
master_cgf_5a.head()

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
0,stunting,mean,baseline,bep,malnourished,three_six_six_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
1,stunting,mean,baseline,bep,malnourished,twenty_nine_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
2,stunting,mean,baseline,bep,normal,three_six_six_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
3,stunting,mean,baseline,bep,normal,twenty_nine_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
4,stunting,mean,baseline,ifa,malnourished,three_six_six_days,8.463109,-1.536891,5770.46,231.44,-1.536891,-1.590163,-1.475158,5539.02,-8512.867477,India


# -----------------------------------------------
## STUNTING -baseline

#### 1) 29 days

In [12]:
# STUNTING BASELINE 29days

# ARTIFACT = -0.887103 (india)

stunting_5a_baseline29 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['baseline']) & \
                                    master_cgf_5a['treatment_group'].isin(['ifa','none']) & \
                                    master_cgf_5a['location'].isin(['Tanzania']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -0.913531 for 1000 artifact draws 29 days (India)')
stunting_5a_baseline29

artifact = -0.913531 for 1000 artifact draws 29 days (India)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
5,stunting,mean,baseline,ifa,malnourished,twenty_nine_days,8.946417,-1.053583,2014.68,99.32,-1.053583,-1.478852,-0.715488,1915.36,-2017.990466,Tanzania
7,stunting,mean,baseline,ifa,normal,twenty_nine_days,8.942717,-1.057283,18957.34,871.92,-1.057283,-1.492464,-0.766881,18085.42,-19121.408498,Tanzania
13,stunting,mean,baseline,none,malnourished,twenty_nine_days,8.947380,-1.052620,7553.38,382.70,-1.052620,-1.491649,-0.761035,7170.68,-7548.002556,Tanzania
15,stunting,mean,baseline,none,normal,twenty_nine_days,8.943206,-1.056794,71474.60,3325.06,-1.056794,-1.503109,-0.772599,68149.54,-72020.006358,Tanzania

### Running baseline stunting z-score at 29 days per country

In [13]:
# for results table 1

#get mean and 95% CIs
stunting_5a_baseline29['weighted_Z_SCORE_mean'] = stunting_5a_baseline29['Z_SCORE'] * stunting_5a_baseline29['alive']
stunting_5a_baseline29['weighted_Z_SCORE_2.5%'] = stunting_5a_baseline29['2.5%'] * stunting_5a_baseline29['alive']
stunting_5a_baseline29['weighted_Z_SCORE_97.5%'] = stunting_5a_baseline29['97.5%'] * stunting_5a_baseline29['alive']

#get values
stunting_5a_baseline29_overall = stunting_5a_baseline29['weighted_Z_SCORE_mean'].sum()/stunting_5a_baseline29['alive'].sum()
stunting_5a_baseline29_overall_L = stunting_5a_baseline29['weighted_Z_SCORE_2.5%'].sum()/stunting_5a_baseline29['alive'].sum()
stunting_5a_baseline29_overall_U = stunting_5a_baseline29['weighted_Z_SCORE_97.5%'].sum()/stunting_5a_baseline29['alive'].sum()

stunting_5a_baseline29_malnourished = stunting_5a_baseline29[stunting_5a_baseline29['mother_status'].isin(['malnourished'])]
stunting_5a_baseline29_malnourished_overall = stunting_5a_baseline29_malnourished['weighted_Z_SCORE_mean'].sum()/stunting_5a_baseline29_malnourished['alive'].sum()
stunting_5a_baseline29_malnourished_L = stunting_5a_baseline29_malnourished['weighted_Z_SCORE_2.5%'].sum()/stunting_5a_baseline29_malnourished['alive'].sum()
stunting_5a_baseline29_malnourished_U = stunting_5a_baseline29_malnourished['weighted_Z_SCORE_97.5%'].sum()/stunting_5a_baseline29_malnourished['alive'].sum()

stunting_5a_baseline29_normal = stunting_5a_baseline29[stunting_5a_baseline29['mother_status'].isin(['normal'])]
stunting_5a_baseline29_normal_overall =  stunting_5a_baseline29_normal['weighted_Z_SCORE_mean'].sum()/stunting_5a_baseline29_normal['alive'].sum()
stunting_5a_baseline29_normal_L =  stunting_5a_baseline29_normal['weighted_Z_SCORE_2.5%'].sum()/stunting_5a_baseline29_normal['alive'].sum()
stunting_5a_baseline29_normal_U =  stunting_5a_baseline29_normal['weighted_Z_SCORE_97.5%'].sum()/stunting_5a_baseline29_normal['alive'].sum()

print ("overall =", + stunting_5a_baseline29_overall, "95% UI =", + stunting_5a_baseline29_overall_L, "to", + stunting_5a_baseline29_overall_U)
print ("malnourished =", + stunting_5a_baseline29_malnourished_overall, "95% UI =", + stunting_5a_baseline29_malnourished_L, "to", + stunting_5a_baseline29_malnourished_U)
print ("normal =", + stunting_5a_baseline29_normal_overall , "95% UI =", + stunting_5a_baseline29_normal_L, "to", + stunting_5a_baseline29_normal_U)

stunting_5a_baseline29

overall = -1.0565080924202408 95% UI = -1.4997398807347075 to -0.7694967905531558
malnourished = -1.05282312449636 95% UI = -1.488951398767322 to -0.7514334193803984
normal = -1.0568963545120316 95% UI = -1.5008765958058916 to -0.7714000153358951

/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location,weighted_Z_SCORE_mean,weighted_Z_SCORE_2.5%,weighted_Z_SCORE_97.5%
5,stunting,mean,baseline,ifa,malnourished,twenty_nine_days,8.946417,-1.053583,2014.68,99.32,-1.053583,-1.478852,-0.715488,1915.36,-2017.990466,Tanzania,-2017.990466,-2832.533058,-1370.417694
7,stunting,mean,baseline,ifa,normal,twenty_nine_days,8.942717,-1.057283,18957.34,871.92,-1.057283,-1.492464,-0.766881,18085.42,-19121.408498,Tanzania,-19121.408498,-26991.840230,-13869.358037
13,stunting,mean,baseline,none,malnourished,twenty_nine_days,8.947380,-1.052620,7553.38,382.70,-1.052620,-1.491649,-0.761035,7170.68,-7548.002556,Tanzania,-7548.002556,-10696.138909,-5457.136412
15,stunting,mean,baseline,none,normal,twenty_nine_days,8.943206,-1.056794,71474.60,3325.06,-1.056794,-1.503109,-0.772599,68149.54,-72020.006358,Tanzania,-72020.006358,-102436.192974,-52652.291430

#### 2) 366 days

In [14]:
# STUNTING BASELINE 366days

# ARTIFACT = -1.587298 (india)

stunting_5a_baseline366 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['baseline']) & \
                                    master_cgf_5a['treatment_group'].isin(['ifa','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -1.56563 for 1000 draws in artifact 366 days(india)')
stunting_5a_baseline366

artifact = -1.56563 for 1000 draws in artifact 366 days(india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
4,stunting,mean,baseline,ifa,malnourished,three_six_six_days,8.463109,-1.536891,5770.46,231.44,-1.536891,-1.590163,-1.475158,5539.02,-8512.867477,India
6,stunting,mean,baseline,ifa,normal,three_six_six_days,8.462508,-1.537492,28262.46,987.70,-1.537492,-1.578950,-1.489593,27274.76,-41934.732160,India
12,stunting,mean,baseline,none,malnourished,three_six_six_days,8.468328,-1.531672,11166.04,490.08,-1.531672,-1.580863,-1.474561,10675.96,-16352.072050,India
14,stunting,mean,baseline,none,normal,three_six_six_days,8.461060,-1.538940,54801.04,1981.56,-1.538940,-1.584008,-1.485853,52819.48,-81286.027035,India

### Running baseline stunting z-score at 366 days per country

In [15]:
# results for validation and maybe a results table? 

stunting_5a_baseline366['weighted_Z_SCORE'] = stunting_5a_baseline366['Z_SCORE'] * stunting_5a_baseline366['alive']
stunting_5a_baseline366_mean = stunting_5a_baseline366['weighted_Z_SCORE'].sum()/stunting_5a_baseline366['alive'].sum()

stunting_5a_baseline366_malnourished = stunting_5a_baseline366[stunting_5a_baseline366['mother_status'].isin(['malnourished'])]
stunting_5a_baseline366_malnourished_mean = stunting_5a_baseline366_malnourished['weighted_Z_SCORE'].sum()/stunting_5a_baseline366_malnourished['alive'].sum()

stunting_5a_baseline366_normal = stunting_5a_baseline366[stunting_5a_baseline366['mother_status'].isin(['normal'])]
stunting_5a_baseline366_normal_mean =  stunting_5a_baseline366_normal['weighted_Z_SCORE'].sum()/stunting_5a_baseline366_normal['alive'].sum()

print("overall =", + stunting_5a_baseline366_mean)
print("malnourished =", + stunting_5a_baseline366_malnourished_mean)
print("normal =", + stunting_5a_baseline366_normal_mean)

stunting_5a_baseline366

/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

overall = -1.537606666543725
malnourished = -1.5334548378317145
normal = -1.5384471991404347

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location,weighted_Z_SCORE
4,stunting,mean,baseline,ifa,malnourished,three_six_six_days,8.463109,-1.536891,5770.46,231.44,-1.536891,-1.590163,-1.475158,5539.02,-8512.867477,India,-8512.867477
6,stunting,mean,baseline,ifa,normal,three_six_six_days,8.462508,-1.537492,28262.46,987.70,-1.537492,-1.578950,-1.489593,27274.76,-41934.732160,India,-41934.732160
12,stunting,mean,baseline,none,malnourished,three_six_six_days,8.468328,-1.531672,11166.04,490.08,-1.531672,-1.580863,-1.474561,10675.96,-16352.072050,India,-16352.072050
14,stunting,mean,baseline,none,normal,three_six_six_days,8.461060,-1.538940,54801.04,1981.56,-1.538940,-1.584008,-1.485853,52819.48,-81286.027035,India,-81286.027035

## STUNTING -MMN

#### 3) 29 days

In [16]:
## STUNTING 29days

stunting_5a_mmn29 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['mmn_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -0.913531 for 1000 draws in artifact 29days (india)')
stunting_5a_mmn29

artifact = -0.913531 for 1000 draws in artifact 29days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
57,stunting,mean,mmn_scale_up,mmn,malnourished,twenty_nine_days,9.112427,-0.887573,13444.32,513.74,-0.887573,-0.929399,-0.832918,12930.58,-11476.834627,India
59,stunting,mean,mmn_scale_up,mmn,normal,twenty_nine_days,9.111639,-0.888361,65971.26,2250.50,-0.888361,-0.923936,-0.845426,63720.76,-56607.026403,India
61,stunting,mean,mmn_scale_up,none,malnourished,twenty_nine_days,9.127559,-0.872441,3492.18,153.20,-0.872441,-0.937203,-0.799666,3338.98,-2913.061408,India
63,stunting,mean,mmn_scale_up,none,normal,twenty_nine_days,9.111531,-0.888469,17092.24,618.00,-0.888469,-0.933526,-0.825286,16474.24,-14636.848324,India

#### 4) 366 days

In [17]:
# STUNTING 366days

stunting_5a_mmn366 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['mmn_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -1.56563 for 1000 draws in artifact 366days (india)')
stunting_5a_mmn366

artifact = -1.56563 for 1000 draws in artifact 366days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
56,stunting,mean,mmn_scale_up,mmn,malnourished,three_six_six_days,8.460462,-1.539538,13444.32,513.74,-1.539538,-1.584318,-1.489611,12930.58,-19907.121553,India
58,stunting,mean,mmn_scale_up,mmn,normal,three_six_six_days,8.460239,-1.539761,65971.26,2250.50,-1.539761,-1.579016,-1.485920,63720.76,-98114.759444,India
60,stunting,mean,mmn_scale_up,none,malnourished,three_six_six_days,8.473534,-1.526466,3492.18,153.20,-1.526466,-1.598137,-1.453179,3338.98,-5096.838844,India
62,stunting,mean,mmn_scale_up,none,normal,three_six_six_days,8.460241,-1.539759,17092.24,618.00,-1.539759,-1.593813,-1.476771,16474.24,-25366.363096,India

## STUNTING -BEP CURRENT EVIDENCE (CE) UNIVERSAL

#### 5) 29 days

In [18]:
## STUNTING 29days

stunting_5a_bep_ce_universal_29 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -0.913531 for 1000 draws in artifact 29days (india)')
stunting_5a_bep_ce_universal_29

artifact = -0.913531 for 1000 draws in artifact 29days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
17,stunting,mean,bep_ce_scale_up,bep,malnourished,twenty_nine_days,9.109363,-0.890637,13444.32,482.32,-0.890637,-0.932142,-0.837471,12962.00,-11544.440583,India
19,stunting,mean,bep_ce_scale_up,bep,normal,twenty_nine_days,9.111224,-0.888776,65971.26,2228.34,-0.888776,-0.924347,-0.846319,63742.92,-56653.187797,India
29,stunting,mean,bep_ce_scale_up,none,malnourished,twenty_nine_days,9.127559,-0.872441,3492.18,153.20,-0.872441,-0.937203,-0.799666,3338.98,-2913.061408,India
31,stunting,mean,bep_ce_scale_up,none,normal,twenty_nine_days,9.111531,-0.888469,17092.24,618.00,-0.888469,-0.933526,-0.825286,16474.24,-14636.848324,India

#### 6) 366 days

In [19]:
## STUNTING 366days

stunting_5a_bep_ce_universal_366 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -1.56563 for 1000 draws in artifact 366days (india)')
stunting_5a_bep_ce_universal_366

artifact = -1.56563 for 1000 draws in artifact 366days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
16,stunting,mean,bep_ce_scale_up,bep,malnourished,three_six_six_days,8.457765,-1.542235,13444.32,482.32,-1.542235,-1.586132,-1.491195,12962.00,-19990.444568,India
18,stunting,mean,bep_ce_scale_up,bep,normal,three_six_six_days,8.459874,-1.540126,65971.26,2228.34,-1.540126,-1.578979,-1.486306,63742.92,-98172.151293,India
28,stunting,mean,bep_ce_scale_up,none,malnourished,three_six_six_days,8.473534,-1.526466,3492.18,153.20,-1.526466,-1.598137,-1.453179,3338.98,-5096.838844,India
30,stunting,mean,bep_ce_scale_up,none,normal,three_six_six_days,8.460241,-1.539759,17092.24,618.00,-1.539759,-1.593813,-1.476771,16474.24,-25366.363096,India

## STUNTING -BEP CURRENT EVIDENCE (CE) TARGETED

#### 7) 29 days

In [20]:
## STUNTING 29days

stunting_5a_bep_ce_targeted_29 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_targeted_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -0.913531 for 1000 draws in artifact 29days (india)')
stunting_5a_bep_ce_targeted_29

artifact = -0.913531 for 1000 draws in artifact 29days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
33,stunting,mean,bep_ce_targeted_scale_up,bep,malnourished,twenty_nine_days,9.109363,-0.890637,13444.32,482.32,-0.890637,-0.932142,-0.837471,12962.00,-11544.440583,India
35,stunting,mean,bep_ce_targeted_scale_up,bep,normal,twenty_nine_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
41,stunting,mean,bep_ce_targeted_scale_up,mmn,malnourished,twenty_nine_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
43,stunting,mean,bep_ce_targeted_scale_up,mmn,normal,twenty_nine_days,9.111639,-0.888361,65971.26,2250.50,-0.888361,-0.923936,-0.845426,63720.76,-56607.026403,India
45,stunting,mean,bep_ce_targeted_scale_up,none,malnourished,twenty_nine_days,9.127559,-0.872441,3492.18,153.20,-0.872441,-0.937203,-0.799666,3338.98,-2913.061408,India
47,stunting,mean,bep_ce_targeted_scale_up,none,normal,twenty_nine_days,9.111531,-0.888469,17092.24,618.00,-0.888469,-0.933526,-0.825286,16474.24,-14636.848324,India

#### 8) 366 days

In [21]:
## STUNTING 366days

stunting_5a_bep_ce_targeted_366 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_targeted_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -1.56563 for 1000 draws in artifact 366days (india)')
stunting_5a_bep_ce_targeted_366

artifact = -1.56563 for 1000 draws in artifact 366days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
32,stunting,mean,bep_ce_targeted_scale_up,bep,malnourished,three_six_six_days,8.457765,-1.542235,13444.32,482.32,-1.542235,-1.586132,-1.491195,12962.00,-19990.444568,India
34,stunting,mean,bep_ce_targeted_scale_up,bep,normal,three_six_six_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
40,stunting,mean,bep_ce_targeted_scale_up,mmn,malnourished,three_six_six_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
42,stunting,mean,bep_ce_targeted_scale_up,mmn,normal,three_six_six_days,8.460239,-1.539761,65971.26,2250.50,-1.539761,-1.579016,-1.485920,63720.76,-98114.759444,India
44,stunting,mean,bep_ce_targeted_scale_up,none,malnourished,three_six_six_days,8.473534,-1.526466,3492.18,153.20,-1.526466,-1.598137,-1.453179,3338.98,-5096.838844,India
46,stunting,mean,bep_ce_targeted_scale_up,none,normal,three_six_six_days,8.460241,-1.539759,17092.24,618.00,-1.539759,-1.593813,-1.476771,16474.24,-25366.363096,India

# -------------------------------------------

# WASTING

## WASTING- baseline

#### 1) 29 days

In [22]:
# wasting BASELINE 29days


wasting_5a_baseline29 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['baseline']) & \
                                    master_cgf_5a['treatment_group'].isin(['ifa','none']) & \
                                    master_cgf_5a['location'].isin(['Tanzania']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)')
wasting_5a_baseline29

artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
133,wasting,mean,baseline,ifa,malnourished,twenty_nine_days,9.910441,-0.089559,2014.68,99.32,-0.089559,-0.157466,-0.018791,1915.36,-171.538458,Tanzania
135,wasting,mean,baseline,ifa,normal,twenty_nine_days,9.914622,-0.085378,18957.34,871.92,-0.085378,-0.152026,-0.042858,18085.42,-1544.105729,Tanzania
141,wasting,mean,baseline,none,malnourished,twenty_nine_days,9.915721,-0.084279,7553.38,382.70,-0.084279,-0.151749,-0.030974,7170.68,-604.334175,Tanzania
143,wasting,mean,baseline,none,normal,twenty_nine_days,9.913831,-0.086169,71474.60,3325.06,-0.086169,-0.156934,-0.045637,68149.54,-5872.381388,Tanzania

### Running baseline wasting z-score at 29 days per country

In [23]:
# for results table 1

#get mean and 95% CIs
wasting_5a_baseline29['weighted_Z_SCORE_mean'] = wasting_5a_baseline29['Z_SCORE'] * wasting_5a_baseline29['alive']
wasting_5a_baseline29['weighted_Z_SCORE_2.5%'] = wasting_5a_baseline29['2.5%'] * wasting_5a_baseline29['alive']
wasting_5a_baseline29['weighted_Z_SCORE_97.5%'] = wasting_5a_baseline29['97.5%'] * wasting_5a_baseline29['alive']

#get values
wasting_5a_baseline29_overall = wasting_5a_baseline29['weighted_Z_SCORE_mean'].sum()/wasting_5a_baseline29['alive'].sum()
wasting_5a_baseline29_overall_L = wasting_5a_baseline29['weighted_Z_SCORE_2.5%'].sum()/wasting_5a_baseline29['alive'].sum()
wasting_5a_baseline29_overall_U = wasting_5a_baseline29['weighted_Z_SCORE_97.5%'].sum()/wasting_5a_baseline29['alive'].sum()

wasting_5a_baseline29_malnourished = wasting_5a_baseline29[wasting_5a_baseline29['mother_status'].isin(['malnourished'])]
wasting_5a_baseline29_malnourished_overall = wasting_5a_baseline29_malnourished['weighted_Z_SCORE_mean'].sum()/wasting_5a_baseline29_malnourished['alive'].sum()
wasting_5a_baseline29_malnourished_L = wasting_5a_baseline29_malnourished['weighted_Z_SCORE_2.5%'].sum()/wasting_5a_baseline29_malnourished['alive'].sum()
wasting_5a_baseline29_malnourished_U = wasting_5a_baseline29_malnourished['weighted_Z_SCORE_97.5%'].sum()/wasting_5a_baseline29_malnourished['alive'].sum()

wasting_5a_baseline29_normal = wasting_5a_baseline29[wasting_5a_baseline29['mother_status'].isin(['normal'])]
wasting_5a_baseline29_normal_overall =  wasting_5a_baseline29_normal['weighted_Z_SCORE_mean'].sum()/wasting_5a_baseline29_normal['alive'].sum()
wasting_5a_baseline29_normal_L =  wasting_5a_baseline29_normal['weighted_Z_SCORE_2.5%'].sum()/wasting_5a_baseline29_normal['alive'].sum()
wasting_5a_baseline29_normal_U =  wasting_5a_baseline29_normal['weighted_Z_SCORE_97.5%'].sum()/wasting_5a_baseline29_normal['alive'].sum()

print ("overall =", + wasting_5a_baseline29_overall, "95% UI =", + wasting_5a_baseline29_overall_L, "to", + wasting_5a_baseline29_overall_U)
print ("malnourished =", + wasting_5a_baseline29_malnourished_overall, "95% UI =", + wasting_5a_baseline29_malnourished_L, "to", + wasting_5a_baseline29_malnourished_U)
print ("normal =", + wasting_5a_baseline29_normal_overall , "95% UI =", + wasting_5a_baseline29_normal_L, "to", + wasting_5a_baseline29_normal_U)

wasting_5a_baseline29

overall = -0.08594496229357157 95% UI = -0.1556233789967035 to -0.04346767444757566
malnourished = -0.085391725444921 95% UI = -0.15295406579951176 to -0.028406227495415954
normal = -0.08600325341049576 95% UI = -0.15590462788325962 to -0.04505460519428443

/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location,weighted_Z_SCORE_mean,weighted_Z_SCORE_2.5%,weighted_Z_SCORE_97.5%
133,wasting,mean,baseline,ifa,malnourished,twenty_nine_days,9.910441,-0.089559,2014.68,99.32,-0.089559,-0.157466,-0.018791,1915.36,-171.538458,Tanzania,-171.538458,-301.603745,-35.992069
135,wasting,mean,baseline,ifa,normal,twenty_nine_days,9.914622,-0.085378,18957.34,871.92,-0.085378,-0.152026,-0.042858,18085.42,-1544.105729,Tanzania,-1544.105729,-2749.454969,-775.110544
141,wasting,mean,baseline,none,malnourished,twenty_nine_days,9.915721,-0.084279,7553.38,382.70,-0.084279,-0.151749,-0.030974,7170.68,-604.334175,Tanzania,-604.334175,-1088.143015,-222.108051
143,wasting,mean,baseline,none,normal,twenty_nine_days,9.913831,-0.086169,71474.60,3325.06,-0.086169,-0.156934,-0.045637,68149.54,-5872.381388,Tanzania,-5872.381388,-10694.974380,-3110.171533

#### 2) 366 days

In [24]:
# wasting BASELINE 366days

wasting_5a_baseline366 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['baseline']) & \
                                    master_cgf_5a['treatment_group'].isin(['ifa','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)')
wasting_5a_baseline366

artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
132,wasting,mean,baseline,ifa,malnourished,three_six_six_days,9.496651,-0.503349,5770.46,231.44,-0.503349,-0.538345,-0.454913,5539.02,-2788.058633,India
134,wasting,mean,baseline,ifa,normal,three_six_six_days,9.492685,-0.507315,28262.46,987.70,-0.507315,-0.536761,-0.469981,27274.76,-13836.884188,India
140,wasting,mean,baseline,none,malnourished,three_six_six_days,9.497562,-0.502438,11166.04,490.08,-0.502438,-0.540582,-0.470666,10675.96,-5364.006320,India
142,wasting,mean,baseline,none,normal,three_six_six_days,9.492920,-0.507080,54801.04,1981.56,-0.507080,-0.526927,-0.483323,52819.48,-26783.692242,India

### Running baseline wasting z-score at 366 days per country

In [25]:

wasting_5a_baseline366['weighted_Z_SCORE'] = wasting_5a_baseline366['Z_SCORE'] * wasting_5a_baseline366['alive']
wasting_5a_baseline366_mean = wasting_5a_baseline366['weighted_Z_SCORE'].sum()/wasting_5a_baseline366['alive'].sum()

wasting_5a_baseline366_malnourished = wasting_5a_baseline366[wasting_5a_baseline366['mother_status'].isin(['malnourished'])]
wasting_5a_baseline366_malnourished_mean = wasting_5a_baseline366_malnourished['weighted_Z_SCORE'].sum()/wasting_5a_baseline366_malnourished['alive'].sum()

wasting_5a_baseline366_normal = wasting_5a_baseline366[wasting_5a_baseline366['mother_status'].isin(['normal'])]
wasting_5a_baseline366_normal_mean =  wasting_5a_baseline366_normal['weighted_Z_SCORE'].sum()/wasting_5a_baseline366_normal['alive'].sum()

print("overall =", + wasting_5a_baseline366_mean)
print("malnourished =", + wasting_5a_baseline366_malnourished_mean)
print("normal =", + wasting_5a_baseline366_normal_mean)

wasting_5a_baseline366

overall = -0.5064171569834153
malnourished = -0.5027489983438446
normal = -0.5071597711711205

/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location,weighted_Z_SCORE
132,wasting,mean,baseline,ifa,malnourished,three_six_six_days,9.496651,-0.503349,5770.46,231.44,-0.503349,-0.538345,-0.454913,5539.02,-2788.058633,India,-2788.058633
134,wasting,mean,baseline,ifa,normal,three_six_six_days,9.492685,-0.507315,28262.46,987.70,-0.507315,-0.536761,-0.469981,27274.76,-13836.884188,India,-13836.884188
140,wasting,mean,baseline,none,malnourished,three_six_six_days,9.497562,-0.502438,11166.04,490.08,-0.502438,-0.540582,-0.470666,10675.96,-5364.006320,India,-5364.006320
142,wasting,mean,baseline,none,normal,three_six_six_days,9.492920,-0.507080,54801.04,1981.56,-0.507080,-0.526927,-0.483323,52819.48,-26783.692242,India,-26783.692242

## WASTING -MMN

#### 3) 29 days

In [26]:
## wasting 29days

wasting_5a_mmn29 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['mmn_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)')
wasting_5a_mmn29

artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
185,wasting,mean,mmn_scale_up,mmn,malnourished,twenty_nine_days,9.572756,-0.427244,13444.32,513.74,-0.427244,-0.459943,-0.394115,12930.58,-5524.511937,India
187,wasting,mean,mmn_scale_up,mmn,normal,twenty_nine_days,9.570018,-0.429982,65971.26,2250.50,-0.429982,-0.456519,-0.408348,63720.76,-27398.769955,India
189,wasting,mean,mmn_scale_up,none,malnourished,twenty_nine_days,9.578733,-0.421267,3492.18,153.20,-0.421267,-0.469615,-0.361744,3338.98,-1406.601271,India
191,wasting,mean,mmn_scale_up,none,normal,twenty_nine_days,9.573938,-0.426062,17092.24,618.00,-0.426062,-0.451709,-0.402631,16474.24,-7019.041131,India

#### 4) 366 days

In [27]:
# WASTING 366days

wasting_5a_mmn366 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['mmn_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)')
wasting_5a_mmn366

artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
184,wasting,mean,mmn_scale_up,mmn,malnourished,three_six_six_days,9.493568,-0.506432,13444.32,513.74,-0.506432,-0.541427,-0.475951,12930.58,-6548.457357,India
186,wasting,mean,mmn_scale_up,mmn,normal,three_six_six_days,9.491252,-0.508748,65971.26,2250.50,-0.508748,-0.529371,-0.482171,63720.76,-32417.787253,India
188,wasting,mean,mmn_scale_up,none,malnourished,three_six_six_days,9.499548,-0.500452,3492.18,153.20,-0.500452,-0.551633,-0.450547,3338.98,-1670.999802,India
190,wasting,mean,mmn_scale_up,none,normal,three_six_six_days,9.494744,-0.505256,17092.24,618.00,-0.505256,-0.531494,-0.474091,16474.24,-8323.713203,India

## WASTING -BEP CURRENT EVIDENCE (CE) UNIVERSAL

#### 5) 29 days

In [28]:
## WASTING 29days

wasting_5a_bep_ce_universal_29 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)')
wasting_5a_bep_ce_universal_29

artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
145,wasting,mean,bep_ce_scale_up,bep,malnourished,twenty_nine_days,9.570887,-0.429113,13444.32,482.32,-0.429113,-0.462323,-0.395982,12962.00,-5562.163687,India
147,wasting,mean,bep_ce_scale_up,bep,normal,twenty_nine_days,9.569738,-0.430262,65971.26,2228.34,-0.430262,-0.456588,-0.408579,63742.92,-27426.155325,India
157,wasting,mean,bep_ce_scale_up,none,malnourished,twenty_nine_days,9.578733,-0.421267,3492.18,153.20,-0.421267,-0.469615,-0.361744,3338.98,-1406.601271,India
159,wasting,mean,bep_ce_scale_up,none,normal,twenty_nine_days,9.573938,-0.426062,17092.24,618.00,-0.426062,-0.451709,-0.402631,16474.24,-7019.041131,India

#### 6) 366 days

In [29]:
## WASTING 366days

wasting_5a_bep_ce_universal_366 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)')
wasting_5a_bep_ce_universal_366

artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
144,wasting,mean,bep_ce_scale_up,bep,malnourished,three_six_six_days,9.491883,-0.508117,13444.32,482.32,-0.508117,-0.543284,-0.478937,12962.00,-6586.207552,India
146,wasting,mean,bep_ce_scale_up,bep,normal,three_six_six_days,9.491007,-0.508993,65971.26,2228.34,-0.508993,-0.529749,-0.482325,63742.92,-32444.678330,India
156,wasting,mean,bep_ce_scale_up,none,malnourished,three_six_six_days,9.499548,-0.500452,3492.18,153.20,-0.500452,-0.551633,-0.450547,3338.98,-1670.999802,India
158,wasting,mean,bep_ce_scale_up,none,normal,three_six_six_days,9.494744,-0.505256,17092.24,618.00,-0.505256,-0.531494,-0.474091,16474.24,-8323.713203,India

## WASTING -BEP CURRENT EVIDENCE (CE) TARGETED

#### 7) 29 days

In [30]:
## WASTING 29days

wasting_5a_bep_ce_targeted_29 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_targeted_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)')

wasting_5a_bep_ce_targeted_29

artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
161,wasting,mean,bep_ce_targeted_scale_up,bep,malnourished,twenty_nine_days,9.570887,-0.429113,13444.32,482.32,-0.429113,-0.462323,-0.395982,12962.00,-5562.163687,India
163,wasting,mean,bep_ce_targeted_scale_up,bep,normal,twenty_nine_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
169,wasting,mean,bep_ce_targeted_scale_up,mmn,malnourished,twenty_nine_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
171,wasting,mean,bep_ce_targeted_scale_up,mmn,normal,twenty_nine_days,9.570018,-0.429982,65971.26,2250.50,-0.429982,-0.456519,-0.408348,63720.76,-27398.769955,India
173,wasting,mean,bep_ce_targeted_scale_up,none,malnourished,twenty_nine_days,9.578733,-0.421267,3492.18,153.20,-0.421267,-0.469615,-0.361744,3338.98,-1406.601271,India
175,wasting,mean,bep_ce_targeted_scale_up,none,normal,twenty_nine_days,9.573938,-0.426062,17092.24,618.00,-0.426062,-0.451709,-0.402631,16474.24,-7019.041131,India

#### 8) 366 days

In [31]:
## wasting 366days

wasting_5a_bep_ce_targeted_366 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_targeted_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)')
wasting_5a_bep_ce_targeted_366

artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
160,wasting,mean,bep_ce_targeted_scale_up,bep,malnourished,three_six_six_days,9.491883,-0.508117,13444.32,482.32,-0.508117,-0.543284,-0.478937,12962.00,-6586.207552,India
162,wasting,mean,bep_ce_targeted_scale_up,bep,normal,three_six_six_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
168,wasting,mean,bep_ce_targeted_scale_up,mmn,malnourished,three_six_six_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
170,wasting,mean,bep_ce_targeted_scale_up,mmn,normal,three_six_six_days,9.491252,-0.508748,65971.26,2250.50,-0.508748,-0.529371,-0.482171,63720.76,-32417.787253,India
172,wasting,mean,bep_ce_targeted_scale_up,none,malnourished,three_six_six_days,9.499548,-0.500452,3492.18,153.20,-0.500452,-0.551633,-0.450547,3338.98,-1670.999802,India
174,wasting,mean,bep_ce_targeted_scale_up,none,normal,three_six_six_days,9.494744,-0.505256,17092.24,618.00,-0.505256,-0.531494,-0.474091,16474.24,-8323.713203,India

# ------------------------------------------------------------------------------------

## RUN 5b BEP_HD_scale_up, BEP_HD_targeted_scale_up

In [32]:
#RUN 5b (bep_ce_universal & targeted)

master_cgf_5b = pd.DataFrame()

for i in list(range(len(output_dirs5b))):
    #cgf
    cgf_5b = pd.read_hdf(output_dirs5b[i] + 'cgf_z_scores.hdf').reset_index().sort_values(by=['input_draw','risk','measure','scenario','treatment_group','mother_status'])
    cgf_5b = cgf_5b.rename(columns={'value':'zscore'})
    cgf_5b['Z_SCORE'] = cgf_5b['zscore'] - 10
    
    #population
    pop = pd.read_hdf(output_dirs5b[i] + 'population.hdf').reset_index()
    pop = pop.where(pop['measure'] == 'total_population').dropna().rename(columns={'value':'start_population'}).drop(columns=['index','measure'])
    
    died = pd.read_hdf(output_dirs5b[i] + 'deaths.hdf')
    died = died.groupby(['input_draw', 'scenario','mother_status','treatment_group']).sum().rename(columns={'value':'deaths'}).reset_index()
    
    pop = pop.merge(died, right_on=['scenario','treatment_group','mother_status','input_draw'], left_on=['scenario','treatment_group','mother_status','input_draw'])
    
    data = pd.merge(cgf_5b, pop, left_on=['input_draw','scenario','treatment_group','mother_status'], right_on=['input_draw','scenario','treatment_group','mother_status'], how='outer')
    
    data = data.groupby(['risk','measure','scenario','treatment_group','mother_status','timepoint']).mean().drop(columns=['input_draw','index']).reset_index() #average over input draws
    
    data['alive'] = data['start_population'] - data['deaths']
    data['alive_x_cgf'] = data['Z_SCORE'] * data['alive'] #cannot use this as weight because the population is the population supplemented (or at birth) whereas the z-score is among alive population at 2 years
    data['location'] = locations[i]
    master_cgf_5b = master_cgf_5b.append(data)
    
master_cgf_5b.head()

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
0,stunting,mean,bep_hd_scale_up,bep,malnourished,three_six_six_days,8.755263,-1.244737,13444.32,449.88,12994.44,-16174.661623,India
1,stunting,mean,bep_hd_scale_up,bep,malnourished,twenty_nine_days,9.407598,-0.592402,13444.32,449.88,12994.44,-7697.927249,India
2,stunting,mean,bep_hd_scale_up,bep,normal,three_six_six_days,8.756869,-1.243131,65971.26,2045.44,63925.82,-79468.188732,India
3,stunting,mean,bep_hd_scale_up,bep,normal,twenty_nine_days,9.409123,-0.590877,65971.26,2045.44,63925.82,-37772.281310,India
4,stunting,mean,bep_hd_scale_up,ifa,malnourished,three_six_six_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India

## STUNTING -BEP HOPES N DREAMS (HD) UNIVERSAL

### 1) 29 days

In [33]:
## STUNTING 29days

stunting_5b_bep_hd_universal_29 = master_cgf_5b[master_cgf_5b['risk'].isin(['stunting']) & \
                                    master_cgf_5b['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5b['location'].isin(['Tanzania']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]

print('artifact MEAN baseline = -0.913531 for 1000 draws in artifact 29days (india)')
stunting_5b_bep_hd_universal_29

artifact MEAN baseline = -0.913531 for 1000 draws in artifact 29days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
1,stunting,mean,bep_hd_scale_up,bep,malnourished,twenty_nine_days,9.241791,-0.758209,8466.54,373.10,8093.44,-6136.521690,Tanzania
3,stunting,mean,bep_hd_scale_up,bep,normal,twenty_nine_days,9.241526,-0.758474,80017.84,3442.42,76575.42,-58080.431862,Tanzania
13,stunting,mean,bep_hd_scale_up,none,malnourished,twenty_nine_days,8.952301,-1.047699,1101.52,55.48,1046.04,-1095.935137,Tanzania
15,stunting,mean,bep_hd_scale_up,none,normal,twenty_nine_days,8.940198,-1.059802,10414.10,477.90,9936.20,-10530.405339,Tanzania

#### 2) 366 days

In [34]:
## STUNTING 366days

stunting_5b_bep_hd_universal_366 = master_cgf_5b[master_cgf_5b['risk'].isin(['stunting']) & \
                                    master_cgf_5b['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5b['location'].isin(['India']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]
print('artifact MEAN baseline = -1.587298 366days (india)')
stunting_5b_bep_hd_universal_366

artifact MEAN baseline = -1.587298 366days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
0,stunting,mean,bep_hd_scale_up,bep,malnourished,three_six_six_days,8.755263,-1.244737,13444.32,449.88,12994.44,-16174.661623,India
2,stunting,mean,bep_hd_scale_up,bep,normal,three_six_six_days,8.756869,-1.243131,65971.26,2045.44,63925.82,-79468.188732,India
12,stunting,mean,bep_hd_scale_up,none,malnourished,three_six_six_days,8.473534,-1.526466,3492.18,153.20,3338.98,-5096.838844,India
14,stunting,mean,bep_hd_scale_up,none,normal,three_six_six_days,8.460241,-1.539759,17092.24,618.00,16474.24,-25366.363096,India

## STUNTING -BEP HOPES n' DREAMS (HD) TARGETED

#### 3) 29 days

In [35]:
## STUNTING 29days

stunting_5b_bep_hd_targeted_29 = master_cgf_5b[master_cgf_5b['risk'].isin(['stunting']) & \
                                    master_cgf_5b['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_targeted_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5b['location'].isin(['India']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]
print('artifact mean baseline= -0.887103 29days (india)')
stunting_5b_bep_hd_targeted_29

artifact mean baseline= -0.887103 29days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
17,stunting,mean,bep_hd_targeted_scale_up,bep,malnourished,twenty_nine_days,9.407598,-0.592402,13444.32,449.88,12994.44,-7697.927249,India
19,stunting,mean,bep_hd_targeted_scale_up,bep,normal,twenty_nine_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
25,stunting,mean,bep_hd_targeted_scale_up,mmn,malnourished,twenty_nine_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
27,stunting,mean,bep_hd_targeted_scale_up,mmn,normal,twenty_nine_days,9.111639,-0.888361,65971.26,2250.50,63720.76,-56607.026403,India
29,stunting,mean,bep_hd_targeted_scale_up,none,malnourished,twenty_nine_days,9.127559,-0.872441,3492.18,153.20,3338.98,-2913.061408,India
31,stunting,mean,bep_hd_targeted_scale_up,none,normal,twenty_nine_days,9.111531,-0.888469,17092.24,618.00,16474.24,-14636.848324,India

#### 4) 366 days

In [36]:
## STUNTING 366days

stunting_5b_bep_hd_targeted_366 = master_cgf_5b[master_cgf_5b['risk'].isin(['stunting']) & \
                                    master_cgf_5b['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_targeted_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5b['location'].isin(['India']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]
print('artifact = -1.587298 366days (india)')
stunting_5b_bep_hd_targeted_366

artifact = -1.587298 366days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
16,stunting,mean,bep_hd_targeted_scale_up,bep,malnourished,three_six_six_days,8.755263,-1.244737,13444.32,449.88,12994.44,-16174.661623,India
18,stunting,mean,bep_hd_targeted_scale_up,bep,normal,three_six_six_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
24,stunting,mean,bep_hd_targeted_scale_up,mmn,malnourished,three_six_six_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
26,stunting,mean,bep_hd_targeted_scale_up,mmn,normal,three_six_six_days,8.460239,-1.539761,65971.26,2250.50,63720.76,-98114.759444,India
28,stunting,mean,bep_hd_targeted_scale_up,none,malnourished,three_six_six_days,8.473534,-1.526466,3492.18,153.20,3338.98,-5096.838844,India
30,stunting,mean,bep_hd_targeted_scale_up,none,normal,three_six_six_days,8.460241,-1.539759,17092.24,618.00,16474.24,-25366.363096,India

## WASTING -BEP HOPES n' DREAMS (HD) UNIVERSAL

#### 1) 29 days

In [37]:
## WASTING 29days

wasting_5b_bep_hd_universal_29 = master_cgf_5b[master_cgf_5b['risk'].isin(['wasting']) & \
                                    master_cgf_5b['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5b['location'].isin(['India']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]
print('artifact MEAN baseline= -0.451174 wasting 29 days (india)')
wasting_5b_bep_hd_universal_29

artifact MEAN baseline= -0.451174 wasting 29 days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
65,wasting,mean,bep_hd_scale_up,bep,malnourished,twenty_nine_days,9.869460,-0.130540,13444.32,449.88,12994.44,-1696.288927,India
67,wasting,mean,bep_hd_scale_up,bep,normal,twenty_nine_days,9.868106,-0.131894,65971.26,2045.44,63925.82,-8431.420499,India
77,wasting,mean,bep_hd_scale_up,none,malnourished,twenty_nine_days,9.578733,-0.421267,3492.18,153.20,3338.98,-1406.601271,India
79,wasting,mean,bep_hd_scale_up,none,normal,twenty_nine_days,9.573938,-0.426062,17092.24,618.00,16474.24,-7019.041131,India

#### 2) 366 days

In [38]:
## WASTING 366days

wasting_5b_bep_hd_universal_366 = master_cgf_5b[master_cgf_5b['risk'].isin(['wasting']) & \
                                    master_cgf_5b['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5b['location'].isin(['India']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]
print('artifact MEAN baseline= -0.536096 wasting 366 days(india)')
wasting_5b_bep_hd_universal_366

artifact MEAN baseline= -0.536096 wasting 366 days(india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
64,wasting,mean,bep_hd_scale_up,bep,malnourished,three_six_six_days,9.787841,-0.212159,13444.32,449.88,12994.44,-2756.885873,India
66,wasting,mean,bep_hd_scale_up,bep,normal,three_six_six_days,9.786695,-0.213305,65971.26,2045.44,63925.82,-13635.674312,India
76,wasting,mean,bep_hd_scale_up,none,malnourished,three_six_six_days,9.499548,-0.500452,3492.18,153.20,3338.98,-1670.999802,India
78,wasting,mean,bep_hd_scale_up,none,normal,three_six_six_days,9.494744,-0.505256,17092.24,618.00,16474.24,-8323.713203,India

## WASTING -BEP HOPES n' DREAMS (HD) TARGETED

#### 3) 29 days

In [39]:
## WASTING 29days

wasting_5b_bep_hd_targeted_29 = master_cgf_5b[master_cgf_5b['risk'].isin(['wasting']) & \
                                    master_cgf_5b['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_targeted_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5b['location'].isin(['India']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]
print('artifact MEAN baseline = -0.451174 wasting 29 days (india)')
wasting_5b_bep_hd_targeted_29

artifact MEAN baseline = -0.451174 wasting 29 days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
81,wasting,mean,bep_hd_targeted_scale_up,bep,malnourished,twenty_nine_days,9.869460,-0.130540,13444.32,449.88,12994.44,-1696.288927,India
83,wasting,mean,bep_hd_targeted_scale_up,bep,normal,twenty_nine_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
89,wasting,mean,bep_hd_targeted_scale_up,mmn,malnourished,twenty_nine_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
91,wasting,mean,bep_hd_targeted_scale_up,mmn,normal,twenty_nine_days,9.570018,-0.429982,65971.26,2250.50,63720.76,-27398.769955,India
93,wasting,mean,bep_hd_targeted_scale_up,none,malnourished,twenty_nine_days,9.578733,-0.421267,3492.18,153.20,3338.98,-1406.601271,India
95,wasting,mean,bep_hd_targeted_scale_up,none,normal,twenty_nine_days,9.573938,-0.426062,17092.24,618.00,16474.24,-7019.041131,India

#### 4) 366 days

In [40]:
## wasting 366days

wasting_5b_bep_hd_targeted_366 = master_cgf_5b[master_cgf_5b['risk'].isin(['wasting']) & \
                                    master_cgf_5b['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_targeted_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5b['location'].isin(['India']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]
print('artifact MEAN BASELINE= -0.536096 wasting 366 days(india)')
wasting_5b_bep_hd_targeted_366

artifact MEAN BASELINE= -0.536096 wasting 366 days(india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
80,wasting,mean,bep_hd_targeted_scale_up,bep,malnourished,three_six_six_days,9.787841,-0.212159,13444.32,449.88,12994.44,-2756.885873,India
82,wasting,mean,bep_hd_targeted_scale_up,bep,normal,three_six_six_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
88,wasting,mean,bep_hd_targeted_scale_up,mmn,malnourished,three_six_six_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
90,wasting,mean,bep_hd_targeted_scale_up,mmn,normal,three_six_six_days,9.491252,-0.508748,65971.26,2250.50,63720.76,-32417.787253,India
92,wasting,mean,bep_hd_targeted_scale_up,none,malnourished,three_six_six_days,9.499548,-0.500452,3492.18,153.20,3338.98,-1670.999802,India
94,wasting,mean,bep_hd_targeted_scale_up,none,normal,three_six_six_days,9.494744,-0.505256,17092.24,618.00,16474.24,-8323.713203,India

# ===============================================================

# PREVALENCE - FALL MODEL

In [41]:
!whoami
!date

nicoly
Mon Oct 19 17:31:17 PDT 2020

In [42]:
cgf_cat = pd.read_hdf('/share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_a/india/2020_10_16_08_59_11/count_data/cgf_categories.hdf')
cgf_cat.head()

,risk,treatment_group,mother_status,measure,input_draw,scenario,value,timepoint
0,stunting,bep,malnourished,cat1,3,baseline,0.0,twenty_nine_days
1,stunting,bep,malnourished,cat1,3,baseline,0.0,three_six_six_days
2,stunting,bep,malnourished,cat1,3,bep_ce_scale_up,1744.0,twenty_nine_days
3,stunting,bep,malnourished,cat1,3,bep_ce_scale_up,2611.0,three_six_six_days
4,stunting,bep,malnourished,cat1,3,bep_ce_targeted_scale_up,1744.0,twenty_nine_days

In [43]:
cgf_cat['scenario'].value_counts()

bep_ce_scale_up             6400
mmn_scale_up                6400
bep_ce_targeted_scale_up    6400
baseline                    6400
Name: scenario, dtype: int64

In [47]:
#select for only 29 days

cgf_cat = cgf_cat.groupby(['input_draw','risk','measure','scenario','timepoint']).sum().reset_index()
cgf_cat = cgf_cat[cgf_cat['scenario'].isin(['baseline']) & cgf_cat['timepoint'].isin(['twenty_nine_days'])]

cgf_cat.head()

   input_draw      risk measure  scenario         timepoint   index    value
0           3  stunting    cat1  baseline  twenty_nine_days   44800   9330.0
1           3  stunting    cat2  baseline  twenty_nine_days   48000  13838.0
2           3  stunting    cat3  baseline  twenty_nine_days   51200  21385.0
3           3  stunting    cat4  baseline  twenty_nine_days   54400  53018.0
4           3   wasting    cat1  baseline  twenty_nine_days  147200   1619.0

In [223]:
cat_tots = cgf_cat.groupby(['input_draw', 'risk']).sum().reset_index()
cat_tots.head()

   input_draw      risk    value
0           3  stunting  97601.0
1           3   wasting  97601.0
2          21  stunting  97723.0
3          21   wasting  97723.0
4          29  stunting  97528.0

In [225]:
cat = pd.merge(cgf_cat, cat_tots, left_on = ['input_draw', 'risk'], right_on = ['input_draw', 'risk'], how = 'left')
cat = cat.rename(columns = {'value_x': 'exp_cat', 'value_y': 'exp_tot'})
cat['percent_cat'] = cat['exp_cat'] / cat['exp_tot']
cat.head()

,input_draw,risk,measure,scenario,timepoint,exp_cat,exp_tot,percent_cat
0,3,stunting,cat1,baseline,twenty_nine_days,13095.0,97601.0,0.134169
1,3,stunting,cat2,baseline,twenty_nine_days,14908.0,97601.0,0.152744
2,3,stunting,cat3,baseline,twenty_nine_days,19976.0,97601.0,0.204670
3,3,stunting,cat4,baseline,twenty_nine_days,49622.0,97601.0,0.508417
4,3,wasting,cat1,baseline,twenty_nine_days,5681.0,97601.0,0.058206

In [219]:
#merge back cgf_cats and cat_tots 

cat = pd.merge(cgf_cat, cat_tots, left_on = ['input_draw', 'risk'], right_on = ['input_draw', 'risk'], how = 'left')
cat = cat.rename(columns = {'value_x': 'exp_cat', 'value_y': 'exp_tot'})
cat['percent_cat'] = cat['exp_cat'] / cat['exp_tot']
cat = cat.groupby(['risk','measure']).percent_cat.describe(percentiles=[.025, 0.975]).filter(['mean', '2.5%', '97.5%']).reset_index() #get 95%CIs
cat

       risk measure      mean      2.5%     97.5%
0  stunting    cat1  0.135620  0.128771  0.142629
1  stunting    cat2  0.150000  0.146476  0.153325
2  stunting    cat3  0.203970  0.197163  0.213294
3  stunting    cat4  0.510410  0.504000  0.518547
4   wasting    cat1  0.060294  0.058052  0.062573
5   wasting    cat2  0.105383  0.103351  0.107297
6   wasting    cat3  0.196486  0.193494  0.199692
7   wasting    cat4  0.637837  0.633898  0.641934

#just checking population

In [203]:
cgf_test = pd.read_hdf('/share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_a/india/2020_10_16_08_59_11/count_data/cgf_categories.hdf')
cgf_test.head()

,risk,treatment_group,mother_status,measure,input_draw,scenario,value,timepoint
0,stunting,bep,malnourished,cat1,3,baseline,0.0,twenty_nine_days
1,stunting,bep,malnourished,cat1,3,baseline,0.0,three_six_six_days
2,stunting,bep,malnourished,cat1,3,bep_ce_scale_up,1744.0,twenty_nine_days
3,stunting,bep,malnourished,cat1,3,bep_ce_scale_up,2611.0,three_six_six_days
4,stunting,bep,malnourished,cat1,3,bep_ce_targeted_scale_up,1744.0,twenty_nine_days

In [204]:
pop_stunt = (cgf_test.where((cgf_test['risk'] == 'stunting') & (cgf_test['timepoint'] == 'twenty_nine_days') & (cgf_test['scenario'] == 'baseline')).dropna()
          .groupby(['input_draw','scenario','timepoint'], as_index=False).sum()
          .rename(columns={'value':'population'}))
pop_stunt.head()

   input_draw  scenario         timepoint  population
0         3.0  baseline  twenty_nine_days     97601.0
1        21.0  baseline  twenty_nine_days     97723.0
2        29.0  baseline  twenty_nine_days     97528.0
3        55.0  baseline  twenty_nine_days     97601.0
4        78.0  baseline  twenty_nine_days     97717.0

In [205]:
pop_waste = (cgf_test.where((cgf_test['risk'] == 'wasting') & (cgf_test['timepoint'] == 'twenty_nine_days') & (cgf_test['scenario'] == 'baseline')).dropna()
          .groupby(['input_draw','scenario','timepoint'], as_index=False).sum()
          .rename(columns={'value':'population'}))
pop_waste.head()

   input_draw  scenario         timepoint  population
0         3.0  baseline  twenty_nine_days     97601.0
1        21.0  baseline  twenty_nine_days     97723.0
2        29.0  baseline  twenty_nine_days     97528.0
3        55.0  baseline  twenty_nine_days     97601.0
4        78.0  baseline  twenty_nine_days     97717.0

pop_stunt and pop_waste is the same

# ALL TOGETHER NOW

In [48]:
master_cgf_cat = pd.DataFrame()

for i in list(range(len(output_dirs5a))):
    cgf_cat = pd.read_hdf(output_dirs5a[i] + 'cgf_categories.hdf').reset_index()
    
    cgf_cat = cgf_cat.groupby(['input_draw','risk','measure','scenario','timepoint']).sum().reset_index()
    cgf_cat = cgf_cat[cgf_cat['scenario'].isin(['baseline']) & cgf_cat['timepoint'].isin(['twenty_nine_days'])]
    cat_tots = cgf_cat.groupby(['input_draw', 'risk']).sum().reset_index()
    
    cat = pd.merge(cgf_cat, cat_tots, left_on = ['input_draw', 'risk'], right_on = ['input_draw', 'risk'], how = 'left')
    cat = cat.rename(columns = {'value_x': 'exp_cat', 'value_y': 'exp_tot'})
    cat['percent_cat'] = cat['exp_cat'] / cat['exp_tot']
    cat = cat.groupby(['risk','measure']).percent_cat.describe(percentiles=[.025, 0.975]).filter(['mean', '2.5%', '97.5%']).reset_index() #get 95%CIs
    
    cat['location'] = locations[i]
    master_cgf_cat =  master_cgf_cat.append(cat)
    
    master_cgf_cat

In [58]:
see_cat = master_cgf_cat[master_cgf_cat['risk'].isin(['stunting'])& \
                        master_cgf_cat['location'].isin(['Tanzania'])]

see_cat

       risk measure      mean      2.5%     97.5%  location
0  stunting    cat1  0.077994  0.048682  0.104868  Tanzania
1  stunting    cat2  0.170380  0.138622  0.261639  Tanzania
2  stunting    cat3  0.295317  0.217381  0.432031  Tanzania
3  stunting    cat4  0.456309  0.275662  0.545016  Tanzania

# PREVALENCE

# ================= FEB 2020 model =====================================

 I think the population needs to be updated to those alive

In [137]:
cgf_feb = pd.read_hdf('/share/costeffectiveness/results/vivarium_gates_bep/malnutrition/india/2020_02_05_03_02_13/count_space/category_counts.hdf').reset_index()
cgf_feb.head()

,input_draw,cgf_risk,risk_category,sex,malnourishment_category,category_counts
0,29.0,wasting,cat1,male,malnourished,2619.0
1,29.0,wasting,cat1,male,not_malnourished,2047.0
2,29.0,wasting,cat2,male,malnourished,2559.0
3,29.0,wasting,cat2,male,not_malnourished,4350.0
4,29.0,wasting,cat3,male,malnourished,2789.0

In [128]:
master_stunting = pd.DataFrame()
master_wasting = pd.DataFrame()

for i in list(range(len(output_dirs))):
    cgf = pd.read_hdf(output_dirs[i] + 'category_counts.hdf').reset_index()
    cgf = (cgf.where(cgf['sex'] == 'male').dropna()
           .groupby(['input_draw','cgf_risk','risk_category','malnourishment_category']).sum()
           .reset_index())
    
    pop = (cgf.where(cgf['cgf_risk'] == 'stunting').dropna()
          .groupby(['input_draw','malnourishment_category'], as_index=False).sum()
          .rename(columns={'category_counts':'population'}))
    
    cgf = cgf.where(cgf['risk_category'] == ('cat1' or 'cat2'))
    
    data = cgf.merge(pop, right_on=['input_draw','malnourishment_category'], 
                     left_on=['input_draw','malnourishment_category'])
    stratified = data.groupby(['input_draw','malnourishment_category','cgf_risk']).sum().reset_index()
    
    overall = data.groupby(['input_draw','cgf_risk']).sum().reset_index()
    
    overall['malnourishment_category'] = 'all'
    data = stratified.append(overall)  
    
    stunted = (data.where(data['cgf_risk'] == 'stunting').dropna())
    stunted['percent'] = stunted['category_counts'] / stunted['population']
    
    #get 95%CI
    #stunted = (stunted.groupby(['malnourishment_category']).mean().drop(columns=['input_draw','category_counts','population']).reset_index()) 
    stunted = stunted.groupby(['malnourishment_category']).percent.describe(percentiles=[.025, 0.975]).filter(['mean', '2.5%', '97.5%']).reset_index() #get 95%CIs
    
    stunted['location'] = locations[i]
    master_stunting = master_stunting.append(stunted)   
    
    wasted = (data.where(data['cgf_risk'] == 'wasting').dropna())
    wasted['percent'] = wasted['category_counts'] / wasted['population']
    
    #get 95%CI
    #wasted = (wasted.groupby(['malnourishment_category']).mean().drop(columns=['input_draw','category_counts','population']).reset_index()) 
    wasted = wasted.groupby(['malnourishment_category']).percent.describe(percentiles=[.025, 0.975]).filter(['mean', '2.5%', '97.5%']).reset_index() #get 95%CIs
    
    wasted['location'] = locations[i]
    master_wasting = master_wasting.append(wasted)
    master_wasting

In [129]:
master_wasting

  malnourishment_category      mean      2.5%     97.5%  location
0                     all  0.055677  0.053174  0.059219     India
1            malnourished  0.142786  0.092195  0.215765     India
2        not_malnourished  0.038791  0.031343  0.047134     India
0                     all  0.030601  0.022907  0.040365  Pakistan
1            malnourished  0.090116  0.048792  0.122800  Pakistan
2        not_malnourished  0.024041  0.015732  0.032911  Pakistan
0                     all  0.014787  0.012454  0.017964      Mali
1            malnourished  0.041370  0.025307  0.066042      Mali
2        not_malnourished  0.012091  0.010079  0.015321      Mali

In [124]:
master_stunting

  malnourishment_category      mean      2.5%     97.5%  location
0                     all  0.091158  0.088499  0.092679     India
1            malnourished  0.200051  0.144434  0.273186     India
2        not_malnourished  0.069993  0.058437  0.081425     India
0                     all  0.038440  0.014022  0.110770  Pakistan
1            malnourished  0.131865  0.045899  0.310911  Pakistan
2        not_malnourished  0.028073  0.008989  0.088284  Pakistan
0                     all  0.059996  0.052047  0.066415      Mali
1            malnourished  0.138289  0.086396  0.182196      Mali
2        not_malnourished  0.052009  0.040840  0.060166      Mali