In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>")) #makes the display bars longer and spread out 100% across the screen width

In [2]:
from vivarium import Artifact
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from db_queries import get_ids, get_outputs
import scipy.stats

In [3]:
#find file paths 5a

%cd /share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_a/tanzania/2020_10_16_16_12_19/count_data

#/india/2020_10_14_14_22_44/count_data <--wrong data

%ls

!whoami
!date

/ihme/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_a/tanzania/2020_10_16_16_12_19/count_data
birth_weight.csv    deaths.csv           population.csv         ylds.csv
birth_weight.hdf    deaths.hdf           population.hdf         ylds.hdf
cgf_categories.csv  gestational_age.csv  state_person_time.csv  ylls.csv
cgf_categories.hdf  gestational_age.hdf  state_person_time.hdf  ylls.hdf
cgf_z_scores.csv    person_time.csv      transition_count.csv
cgf_z_scores.hdf    person_time.hdf      transition_count.hdf
nicoly
Thu Feb  4 01:41:32 PST 2021

In [4]:
#find file paths 5b

%cd /share/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_b/tanzania/2020_10_16_16_22_21/count_data
%ls

!whoami
!date

/ihme/costeffectiveness/results/vivarium_gates_bep/fall_2020/5_b/tanzania/2020_10_16_16_22_21/count_data
birth_weight.csv    deaths.csv           population.csv         ylds.csv
birth_weight.hdf    deaths.hdf           population.hdf         ylds.hdf
cgf_categories.csv  gestational_age.csv  state_person_time.csv  ylls.csv
cgf_categories.hdf  gestational_age.hdf  state_person_time.hdf  ylls.hdf
cgf_z_scores.csv    person_time.csv      transition_count.csv
cgf_z_scores.hdf    person_time.hdf      transition_count.hdf
nicoly
Thu Feb  4 01:41:33 PST 2021

In [5]:
#scenarios in each of the runs

#run1 (baseline, mmn, bep_hd_universal_i & targeted_i)
#run2 (bep_ce_universal & targeted)
#run3 (bep_ce_universal & targeted)
#run4 (baseline, mmn, bep_hd_universal_iii & targeted_iii)

#summer model
#scenarios in each of the runs

#run1 (baseline, mmn, bep_hd_universal_i & targeted_i)
#run2 (bep_ce_universal & targeted)
#run3 (bep_ce_universal & targeted)
#run4 (baseline, mmn, bep_hd_universal_iii & targeted_iii)

#5a
output_dirs5a = ['/share/costeffectiveness/results/vivarium_gates_bep/winter_2020/5a/india/2020_12_18_16_23_36/count_data/',
                     '/share/costeffectiveness/results/vivarium_gates_bep/winter_2020/5a/pakistan/2020_12_20_16_30_49/count_data/',
                     '/share/costeffectiveness/results/vivarium_gates_bep/winter_2020/5a/mali/2020_12_19_10_29_20/count_data/',
                     '/share/costeffectiveness/results/vivarium_gates_bep/winter_2020/5a/tanzania/2020_12_19_10_32_34/count_data/']

#5b

output_dirs5b = ['/share/costeffectiveness/results/vivarium_gates_bep/winter_2020/5b/india/2020_12_18_16_04_38/count_data/',
                     '/share/costeffectiveness/results/vivarium_gates_bep/winter_2020/5b/pakistan/2020_12_18_16_16_04/count_data/',
                     '/share/costeffectiveness/results/vivarium_gates_bep/winter_2020/5b/mali/2020_12_18_16_13_32/count_data/',
                     '/share/costeffectiveness/results/vivarium_gates_bep/winter_2020/5b/tanzania/2020_12_18_16_18_26/count_data/']


#location labels
locations = ['India','Pakistan','Mali','Tanzania']

#use in sort_values to make custum sort list. I sorted by region. 
sorter = ['India','mali','Mali','Tanzania']
sorterIndex = dict(zip(sorter,range(len(sorter))))

#feb model
output_dirs = ['/share/costeffectiveness/results/vivarium_gates_bep/malnutrition/india/2020_02_05_03_02_13/count_space/',
              '/share/costeffectiveness/results/vivarium_gates_bep/malnutrition/mali/2020_02_05_03_02_02/count_space/',
              '/share/costeffectiveness/results/vivarium_gates_bep/malnutrition/tanzania/2020_02_05_03_07_37/count_space/']

#location labels
locations = ['India','Pakistan','Mali','Tanzania']

#use in sort_values to make custum sort list. I sorted by region. 
sorter = ['India','Pakistan','Mali','Tanzania']
sorterIndex = dict(zip(sorter,range(len(sorter))))

## testing

In [6]:
deaths_india = pd.read_hdf('/share/costeffectiveness/results/vivarium_gates_bep/winter_2020/5a/india/2020_12_18_16_23_36/count_data/deaths.hdf')
deaths_india.head()

,age_group,cause,treatment_group,mother_status,measure,input_draw,scenario,value
0,1_to_4,diarrheal_diseases,bep,malnourished,death,3,baseline,0.0
1,1_to_4,diarrheal_diseases,bep,malnourished,death,3,bep_ce_scale_up,1.0
2,1_to_4,diarrheal_diseases,bep,malnourished,death,3,bep_ce_targeted_scale_up,1.0
3,1_to_4,diarrheal_diseases,bep,malnourished,death,3,mmn_scale_up,0.0
4,1_to_4,diarrheal_diseases,bep,malnourished,death,8,baseline,0.0

In [7]:
deaths_india['cause'].value_counts()

other_causes                    16000
measles                         16000
protein_energy_malnutrition     16000
diarrheal_diseases              16000
lower_respiratory_infections    16000
Name: cause, dtype: int64

In [8]:
died_india = deaths_india.groupby(['input_draw', 'scenario','mother_status', 'treatment_group']).sum().reset_index()
died_india = died_india.rename(columns={'value':'deaths'})
died_india.head()

   input_draw  scenario mother_status treatment_group  deaths
0           3  baseline  malnourished             bep     0.0
1           3  baseline  malnourished             ifa   247.0
2           3  baseline  malnourished             mmn     0.0
3           3  baseline  malnourished            none   473.0
4           3  baseline        normal             bep     0.0

# CGF z-score shift check

# ------------------------------------------------------------------------------------

## RUN 5a BASELINE, MMN, BEP_CE_scale_up, BEP_TARGETED_scale_up

In [9]:
#RUN 5a (bep_ce_universal & targeted)

master_cgf_5a = pd.DataFrame()

for i in list(range(len(output_dirs5a))):
    #cgf
    cgf_5a = pd.read_hdf(output_dirs5a[i] + 'cgf_z_scores.hdf').reset_index().sort_values(by=['input_draw','risk','measure','scenario','treatment_group','mother_status'])
    cgf_5a = cgf_5a.rename(columns={'value':'zscore'})
    cgf_5a['Z_SCORE'] = cgf_5a['zscore'] - 10
    
    #population
    pop = pd.read_hdf(output_dirs5a[i] + 'population.hdf').reset_index()
    pop = pop.where(pop['measure'] == 'total_population').dropna().rename(columns={'value':'start_population'}).drop(columns=['index','measure'])
    
    died = pd.read_hdf(output_dirs5a[i] + 'deaths.hdf')
    died = died.groupby(['input_draw', 'scenario','mother_status','treatment_group']).sum().rename(columns={'value':'deaths'}).reset_index()
    
    pop = pop.merge(died, right_on=['scenario','treatment_group','mother_status','input_draw'], left_on=['scenario','treatment_group','mother_status','input_draw'])
    
    data = pd.merge(cgf_5a, pop, left_on=['input_draw','scenario','treatment_group','mother_status'], right_on=['input_draw','scenario','treatment_group','mother_status'], how='outer')
   
    #print(data)
    data_1 = data.groupby(['risk','measure','scenario','treatment_group','mother_status','timepoint']).mean().drop(columns=['input_draw','index']).reset_index() #average over input draws
    data_2 = data.groupby(['risk','measure','scenario','treatment_group','mother_status','timepoint']).Z_SCORE.describe(percentiles=[.025, 0.975]).filter(['mean', '2.5%', '97.5%']).reset_index() #get 95%CIs
    
    data = pd.merge(data_1, data_2, left_on=['risk','measure','scenario','treatment_group','mother_status','timepoint'], right_on=['risk','measure','scenario','treatment_group','mother_status','timepoint'], how='outer')
    
    #print(data)
    
    data['alive'] = data['start_population'] - data['deaths']
    data['alive_x_cgf'] = data['Z_SCORE'] * data['alive'] #cannot use this as weight because the population is the population supplemented (or at birth) whereas the z-score is among alive population at 2 years
    data['location'] = locations[i]
    master_cgf_5a = master_cgf_5a.append(data)
    
master_cgf_5a.head()

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
0,stunting,mean,baseline,bep,malnourished,three_six_six_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.0000,0.00,-0.000000,India
1,stunting,mean,baseline,bep,malnourished,twenty_nine_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.0000,0.00,-0.000000,India
2,stunting,mean,baseline,bep,normal,three_six_six_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.0000,0.00,-0.000000,India
3,stunting,mean,baseline,bep,normal,twenty_nine_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.0000,0.00,-0.000000,India
4,stunting,mean,baseline,ifa,malnourished,three_six_six_days,8.460384,-1.539616,5806.52,233.14,-1.539616,-1.591108,-1.4789,5573.38,-8580.864499,India


# -----------------------------------------------
## STUNTING -baseline

#### 1) 29 days

In [10]:
# STUNTING BASELINE 29days

# ARTIFACT = -0.887103 (india)

stunting_5a_baseline29 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['baseline']) & \
                                    master_cgf_5a['treatment_group'].isin(['ifa','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -0.913531 for 1000 artifact draws 29 days (India)')
stunting_5a_baseline29

artifact = -0.913531 for 1000 artifact draws 29 days (India)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
5,stunting,mean,baseline,ifa,malnourished,twenty_nine_days,9.113071,-0.886929,5806.52,233.14,-0.886929,-0.942371,-0.822340,5573.38,-4943.192963,India
7,stunting,mean,baseline,ifa,normal,twenty_nine_days,9.110294,-0.889706,28448.79,994.84,-0.889706,-0.936575,-0.833897,27453.95,-24425.946258,India
13,stunting,mean,baseline,none,malnourished,twenty_nine_days,9.120957,-0.879043,11126.53,487.58,-0.879043,-0.926622,-0.815554,10638.95,-9352.099197,India
15,stunting,mean,baseline,none,normal,twenty_nine_days,9.112923,-0.887077,54618.16,1974.95,-0.887077,-0.935209,-0.830430,52643.21,-46698.582784,India

### Running baseline stunting z-score at 29 days per country

In [11]:
# for results table 3 -STUNTING

#get mean and 95% CIs
stunting_5a_baseline29['weighted_Z_SCORE_mean'] = stunting_5a_baseline29['Z_SCORE'] * stunting_5a_baseline29['alive']
stunting_5a_baseline29['weighted_Z_SCORE_2.5%'] = stunting_5a_baseline29['2.5%'] * stunting_5a_baseline29['alive']
stunting_5a_baseline29['weighted_Z_SCORE_97.5%'] = stunting_5a_baseline29['97.5%'] * stunting_5a_baseline29['alive']

#get values
stunting_5a_baseline29_overall = stunting_5a_baseline29['weighted_Z_SCORE_mean'].sum()/stunting_5a_baseline29['alive'].sum()
stunting_5a_baseline29_overall_L = stunting_5a_baseline29['weighted_Z_SCORE_2.5%'].sum()/stunting_5a_baseline29['alive'].sum()
stunting_5a_baseline29_overall_U = stunting_5a_baseline29['weighted_Z_SCORE_97.5%'].sum()/stunting_5a_baseline29['alive'].sum()

stunting_5a_baseline29_malnourished = stunting_5a_baseline29[stunting_5a_baseline29['mother_status'].isin(['malnourished'])]
stunting_5a_baseline29_malnourished_overall = stunting_5a_baseline29_malnourished['weighted_Z_SCORE_mean'].sum()/stunting_5a_baseline29_malnourished['alive'].sum()
stunting_5a_baseline29_malnourished_L = stunting_5a_baseline29_malnourished['weighted_Z_SCORE_2.5%'].sum()/stunting_5a_baseline29_malnourished['alive'].sum()
stunting_5a_baseline29_malnourished_U = stunting_5a_baseline29_malnourished['weighted_Z_SCORE_97.5%'].sum()/stunting_5a_baseline29_malnourished['alive'].sum()

stunting_5a_baseline29_normal = stunting_5a_baseline29[stunting_5a_baseline29['mother_status'].isin(['normal'])]
stunting_5a_baseline29_normal_overall =  stunting_5a_baseline29_normal['weighted_Z_SCORE_mean'].sum()/stunting_5a_baseline29_normal['alive'].sum()
stunting_5a_baseline29_normal_L =  stunting_5a_baseline29_normal['weighted_Z_SCORE_2.5%'].sum()/stunting_5a_baseline29_normal['alive'].sum()
stunting_5a_baseline29_normal_U =  stunting_5a_baseline29_normal['weighted_Z_SCORE_97.5%'].sum()/stunting_5a_baseline29_normal['alive'].sum()

print ("overall =", + stunting_5a_baseline29_overall, "95% UI =", + stunting_5a_baseline29_overall_L, "to", + stunting_5a_baseline29_overall_U)
#print ("malnourished =", + stunting_5a_baseline29_malnourished_overall, "95% UI =", + stunting_5a_baseline29_malnourished_L, "to", + stunting_5a_baseline29_malnourished_U)
#print ("normal =", + stunting_5a_baseline29_normal_overall , "95% UI =", + stunting_5a_baseline29_normal_L, "to", + stunting_5a_baseline29_normal_U)

stunting_5a_baseline29

overall = -0.8869304696969986 95% UI = -0.935064193464505 to -0.8293067551367966

/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location,weighted_Z_SCORE_mean,weighted_Z_SCORE_2.5%,weighted_Z_SCORE_97.5%
5,stunting,mean,baseline,ifa,malnourished,twenty_nine_days,9.113071,-0.886929,5806.52,233.14,-0.886929,-0.942371,-0.822340,5573.38,-4943.192963,India,-4943.192963,-5252.190078,-4583.214690
7,stunting,mean,baseline,ifa,normal,twenty_nine_days,9.110294,-0.889706,28448.79,994.84,-0.889706,-0.936575,-0.833897,27453.95,-24425.946258,India,-24425.946258,-25712.687526,-22893.776044
13,stunting,mean,baseline,none,malnourished,twenty_nine_days,9.120957,-0.879043,11126.53,487.58,-0.879043,-0.926622,-0.815554,10638.95,-9352.099197,India,-9352.099197,-9858.290088,-8676.633414
15,stunting,mean,baseline,none,normal,twenty_nine_days,9.112923,-0.887077,54618.16,1974.95,-0.887077,-0.935209,-0.830430,52643.21,-46698.582784,India,-46698.582784,-49232.387897,-43716.486492

#### 2) 366 days

In [12]:
# STUNTING BASELINE 366days

# ARTIFACT = -1.587298 (india)

stunting_5a_baseline366 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['baseline']) & \
                                    master_cgf_5a['treatment_group'].isin(['ifa','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -1.56563 for 1000 draws in artifact 366 days(india)')
stunting_5a_baseline366

artifact = -1.56563 for 1000 draws in artifact 366 days(india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
4,stunting,mean,baseline,ifa,malnourished,three_six_six_days,8.460384,-1.539616,5806.52,233.14,-1.539616,-1.591108,-1.478900,5573.38,-8580.864499,India
6,stunting,mean,baseline,ifa,normal,three_six_six_days,8.458519,-1.541481,28448.79,994.84,-1.541481,-1.592179,-1.490864,27453.95,-42319.735455,India
12,stunting,mean,baseline,none,malnourished,three_six_six_days,8.467537,-1.532463,11126.53,487.58,-1.532463,-1.583092,-1.485502,10638.95,-16303.801799,India
14,stunting,mean,baseline,none,normal,three_six_six_days,8.460881,-1.539119,54618.16,1974.95,-1.539119,-1.588149,-1.486879,52643.21,-81024.154893,India

### Running baseline stunting z-score at 366 days per country

In [13]:
# results for validation and maybe a results table? 

stunting_5a_baseline366['weighted_Z_SCORE'] = stunting_5a_baseline366['Z_SCORE'] * stunting_5a_baseline366['alive']
stunting_5a_baseline366_mean = stunting_5a_baseline366['weighted_Z_SCORE'].sum()/stunting_5a_baseline366['alive'].sum()

stunting_5a_baseline366_malnourished = stunting_5a_baseline366[stunting_5a_baseline366['mother_status'].isin(['malnourished'])]
stunting_5a_baseline366_malnourished_mean = stunting_5a_baseline366_malnourished['weighted_Z_SCORE'].sum()/stunting_5a_baseline366_malnourished['alive'].sum()

stunting_5a_baseline366_normal = stunting_5a_baseline366[stunting_5a_baseline366['mother_status'].isin(['normal'])]
stunting_5a_baseline366_normal_mean =  stunting_5a_baseline366_normal['weighted_Z_SCORE'].sum()/stunting_5a_baseline366_normal['alive'].sum()

print("overall =", + stunting_5a_baseline366_mean)
print("malnourished =", + stunting_5a_baseline366_malnourished_mean)
print("normal =", + stunting_5a_baseline366_normal_mean)

stunting_5a_baseline366

overall = -1.539085677280266
malnourished = -1.5349222658344308
normal = -1.5399283863137156

/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location,weighted_Z_SCORE
4,stunting,mean,baseline,ifa,malnourished,three_six_six_days,8.460384,-1.539616,5806.52,233.14,-1.539616,-1.591108,-1.478900,5573.38,-8580.864499,India,-8580.864499
6,stunting,mean,baseline,ifa,normal,three_six_six_days,8.458519,-1.541481,28448.79,994.84,-1.541481,-1.592179,-1.490864,27453.95,-42319.735455,India,-42319.735455
12,stunting,mean,baseline,none,malnourished,three_six_six_days,8.467537,-1.532463,11126.53,487.58,-1.532463,-1.583092,-1.485502,10638.95,-16303.801799,India,-16303.801799
14,stunting,mean,baseline,none,normal,three_six_six_days,8.460881,-1.539119,54618.16,1974.95,-1.539119,-1.588149,-1.486879,52643.21,-81024.154893,India,-81024.154893

## STUNTING -MMN

#### 3) 29 days

In [14]:
## STUNTING 29days

stunting_5a_mmn29 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['mmn_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -0.913531 for 1000 draws in artifact 29days (india)')
stunting_5a_mmn29

artifact = -0.913531 for 1000 draws in artifact 29days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
57,stunting,mean,mmn_scale_up,mmn,malnourished,twenty_nine_days,9.111601,-0.888399,13441.94,513.93,-0.888399,-0.932561,-0.829282,12928.01,-11485.230445,India
59,stunting,mean,mmn_scale_up,mmn,normal,twenty_nine_days,9.110061,-0.889939,65960.23,2251.66,-0.889939,-0.936726,-0.833560,63708.57,-56696.760948,India
61,stunting,mean,mmn_scale_up,none,malnourished,twenty_nine_days,9.125089,-0.874911,3491.11,153.65,-0.874911,-0.944881,-0.793932,3337.46,-2919.980594,India
63,stunting,mean,mmn_scale_up,none,normal,twenty_nine_days,9.112428,-0.887572,17106.72,618.00,-0.887572,-0.942924,-0.816210,16488.72,-14634.932908,India

#### 4) 366 days

In [15]:
# STUNTING 366days

stunting_5a_mmn366 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['mmn_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -1.56563 for 1000 draws in artifact 366days (india)')
stunting_5a_mmn366

artifact = -1.56563 for 1000 draws in artifact 366days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
56,stunting,mean,mmn_scale_up,mmn,malnourished,three_six_six_days,8.459265,-1.540735,13441.94,513.93,-1.540735,-1.584312,-1.489755,12928.01,-19918.636193,India
58,stunting,mean,mmn_scale_up,mmn,normal,three_six_six_days,8.458342,-1.541658,65960.23,2251.66,-1.541658,-1.591754,-1.491685,63708.57,-98216.841469,India
60,stunting,mean,mmn_scale_up,none,malnourished,three_six_six_days,8.470892,-1.529108,3491.11,153.65,-1.529108,-1.597853,-1.451517,3337.46,-5103.335904,India
62,stunting,mean,mmn_scale_up,none,normal,three_six_six_days,8.460448,-1.539552,17106.72,618.00,-1.539552,-1.592221,-1.479242,16488.72,-25385.246819,India

## STUNTING -BEP CURRENT EVIDENCE (CE) UNIVERSAL

#### 5) 29 days

In [16]:
## STUNTING 29days

stunting_5a_bep_ce_universal_29 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -0.913531 for 1000 draws in artifact 29days (india)')
stunting_5a_bep_ce_universal_29

artifact = -0.913531 for 1000 draws in artifact 29days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
17,stunting,mean,bep_ce_scale_up,bep,malnourished,twenty_nine_days,9.108323,-0.891677,13441.94,481.63,-0.891677,-0.937997,-0.830771,12960.31,-11556.408718,India
19,stunting,mean,bep_ce_scale_up,bep,normal,twenty_nine_days,9.109685,-0.890315,65960.23,2230.64,-0.890315,-0.937368,-0.833630,63729.59,-56739.430346,India
29,stunting,mean,bep_ce_scale_up,none,malnourished,twenty_nine_days,9.125089,-0.874911,3491.11,153.65,-0.874911,-0.944881,-0.793932,3337.46,-2919.980594,India
31,stunting,mean,bep_ce_scale_up,none,normal,twenty_nine_days,9.112428,-0.887572,17106.72,618.00,-0.887572,-0.942924,-0.816210,16488.72,-14634.932908,India

#### 6) 366 days

In [17]:
## STUNTING 366days

stunting_5a_bep_ce_universal_366 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -1.56563 for 1000 draws in artifact 366days (india)')
stunting_5a_bep_ce_universal_366

artifact = -1.56563 for 1000 draws in artifact 366days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
16,stunting,mean,bep_ce_scale_up,bep,malnourished,three_six_six_days,8.456376,-1.543624,13441.94,481.63,-1.543624,-1.587114,-1.491910,12960.31,-20005.845659,India
18,stunting,mean,bep_ce_scale_up,bep,normal,three_six_six_days,8.458011,-1.541989,65960.23,2230.64,-1.541989,-1.592359,-1.492588,63729.59,-98270.338240,India
28,stunting,mean,bep_ce_scale_up,none,malnourished,three_six_six_days,8.470892,-1.529108,3491.11,153.65,-1.529108,-1.597853,-1.451517,3337.46,-5103.335904,India
30,stunting,mean,bep_ce_scale_up,none,normal,three_six_six_days,8.460448,-1.539552,17106.72,618.00,-1.539552,-1.592221,-1.479242,16488.72,-25385.246819,India

## STUNTING -BEP CURRENT EVIDENCE (CE) TARGETED

#### 7) 29 days

In [18]:
## STUNTING 29days

stunting_5a_bep_ce_targeted_29 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_targeted_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -0.913531 for 1000 draws in artifact 29days (india)')
stunting_5a_bep_ce_targeted_29

artifact = -0.913531 for 1000 draws in artifact 29days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
33,stunting,mean,bep_ce_targeted_scale_up,bep,malnourished,twenty_nine_days,9.108323,-0.891677,13441.94,481.63,-0.891677,-0.937997,-0.830771,12960.31,-11556.408718,India
35,stunting,mean,bep_ce_targeted_scale_up,bep,normal,twenty_nine_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
41,stunting,mean,bep_ce_targeted_scale_up,mmn,malnourished,twenty_nine_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
43,stunting,mean,bep_ce_targeted_scale_up,mmn,normal,twenty_nine_days,9.110061,-0.889939,65960.23,2251.66,-0.889939,-0.936726,-0.833560,63708.57,-56696.760948,India
45,stunting,mean,bep_ce_targeted_scale_up,none,malnourished,twenty_nine_days,9.125089,-0.874911,3491.11,153.65,-0.874911,-0.944881,-0.793932,3337.46,-2919.980594,India
47,stunting,mean,bep_ce_targeted_scale_up,none,normal,twenty_nine_days,9.112428,-0.887572,17106.72,618.00,-0.887572,-0.942924,-0.816210,16488.72,-14634.932908,India

#### 8) 366 days

In [19]:
## STUNTING 366days

stunting_5a_bep_ce_targeted_366 = master_cgf_5a[master_cgf_5a['risk'].isin(['stunting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_targeted_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -1.56563 for 1000 draws in artifact 366days (india)')
stunting_5a_bep_ce_targeted_366

artifact = -1.56563 for 1000 draws in artifact 366days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
32,stunting,mean,bep_ce_targeted_scale_up,bep,malnourished,three_six_six_days,8.456376,-1.543624,13441.94,481.63,-1.543624,-1.587114,-1.491910,12960.31,-20005.845659,India
34,stunting,mean,bep_ce_targeted_scale_up,bep,normal,three_six_six_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
40,stunting,mean,bep_ce_targeted_scale_up,mmn,malnourished,three_six_six_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
42,stunting,mean,bep_ce_targeted_scale_up,mmn,normal,three_six_six_days,8.458342,-1.541658,65960.23,2251.66,-1.541658,-1.591754,-1.491685,63708.57,-98216.841469,India
44,stunting,mean,bep_ce_targeted_scale_up,none,malnourished,three_six_six_days,8.470892,-1.529108,3491.11,153.65,-1.529108,-1.597853,-1.451517,3337.46,-5103.335904,India
46,stunting,mean,bep_ce_targeted_scale_up,none,normal,three_six_six_days,8.460448,-1.539552,17106.72,618.00,-1.539552,-1.592221,-1.479242,16488.72,-25385.246819,India

# -------------------------------------------

# WASTING

## WASTING- baseline

#### 1) 29 days

In [55]:
# wasting BASELINE 29days

wasting_5a_baseline29 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['baseline']) & \
                                    master_cgf_5a['treatment_group'].isin(['ifa','none']) & \
                                    master_cgf_5a['location'].isin(['Pakistan']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)')
wasting_5a_baseline29

artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
133,wasting,mean,baseline,ifa,malnourished,twenty_nine_days,9.545935,-0.454065,2684.55,156.70,-0.454065,-0.592152,-0.297780,2527.85,-1147.808754,Pakistan
135,wasting,mean,baseline,ifa,normal,twenty_nine_days,9.538628,-0.461372,22167.88,1091.92,-0.461372,-0.599471,-0.347938,21075.96,-9723.848140,Pakistan
141,wasting,mean,baseline,none,malnourished,twenty_nine_days,9.545825,-0.454175,8102.62,513.29,-0.454175,-0.590128,-0.339966,7589.33,-3446.883191,Pakistan
143,wasting,mean,baseline,none,normal,twenty_nine_days,9.539871,-0.460129,67044.95,3439.24,-0.460129,-0.608052,-0.349836,63605.71,-29266.823634,Pakistan

### Running baseline wasting z-score at 29 days per country

In [56]:
# for results table 3 -WASTING 

#get mean and 95% CIs
wasting_5a_baseline29['weighted_Z_SCORE_mean'] = wasting_5a_baseline29['Z_SCORE'] * wasting_5a_baseline29['alive']
wasting_5a_baseline29['weighted_Z_SCORE_2.5%'] = wasting_5a_baseline29['2.5%'] * wasting_5a_baseline29['alive']
wasting_5a_baseline29['weighted_Z_SCORE_97.5%'] = wasting_5a_baseline29['97.5%'] * wasting_5a_baseline29['alive']

#get values
wasting_5a_baseline29_overall = wasting_5a_baseline29['weighted_Z_SCORE_mean'].sum()/wasting_5a_baseline29['alive'].sum()
wasting_5a_baseline29_overall_L = wasting_5a_baseline29['weighted_Z_SCORE_2.5%'].sum()/wasting_5a_baseline29['alive'].sum()
wasting_5a_baseline29_overall_U = wasting_5a_baseline29['weighted_Z_SCORE_97.5%'].sum()/wasting_5a_baseline29['alive'].sum()

wasting_5a_baseline29_malnourished = wasting_5a_baseline29[wasting_5a_baseline29['mother_status'].isin(['malnourished'])]
wasting_5a_baseline29_malnourished_overall = wasting_5a_baseline29_malnourished['weighted_Z_SCORE_mean'].sum()/wasting_5a_baseline29_malnourished['alive'].sum()
wasting_5a_baseline29_malnourished_L = wasting_5a_baseline29_malnourished['weighted_Z_SCORE_2.5%'].sum()/wasting_5a_baseline29_malnourished['alive'].sum()
wasting_5a_baseline29_malnourished_U = wasting_5a_baseline29_malnourished['weighted_Z_SCORE_97.5%'].sum()/wasting_5a_baseline29_malnourished['alive'].sum()

wasting_5a_baseline29_normal = wasting_5a_baseline29[wasting_5a_baseline29['mother_status'].isin(['normal'])]
wasting_5a_baseline29_normal_overall =  wasting_5a_baseline29_normal['weighted_Z_SCORE_mean'].sum()/wasting_5a_baseline29_normal['alive'].sum()
wasting_5a_baseline29_normal_L =  wasting_5a_baseline29_normal['weighted_Z_SCORE_2.5%'].sum()/wasting_5a_baseline29_normal['alive'].sum()
wasting_5a_baseline29_normal_U =  wasting_5a_baseline29_normal['weighted_Z_SCORE_97.5%'].sum()/wasting_5a_baseline29_normal['alive'].sum()

print ("overall =", + wasting_5a_baseline29_overall, "95% UI =", + wasting_5a_baseline29_overall_L, "to", + wasting_5a_baseline29_overall_U)
#print ("malnourished =", + wasting_5a_baseline29_malnourished_overall, "95% UI =", + wasting_5a_baseline29_malnourished_L, "to", + wasting_5a_baseline29_malnourished_U)
#print ("normal =", + wasting_5a_baseline29_normal_overall , "95% UI =", + wasting_5a_baseline29_normal_L, "to", + wasting_5a_baseline29_normal_U)

wasting_5a_baseline29

overall = -0.4597667980036123 95% UI = -0.6042852922562548 to -0.3472355235897367

/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location,weighted_Z_SCORE_mean,weighted_Z_SCORE_2.5%,weighted_Z_SCORE_97.5%
133,wasting,mean,baseline,ifa,malnourished,twenty_nine_days,9.545935,-0.454065,2684.55,156.70,-0.454065,-0.592152,-0.297780,2527.85,-1147.808754,Pakistan,-1147.808754,-1496.872234,-752.743455
135,wasting,mean,baseline,ifa,normal,twenty_nine_days,9.538628,-0.461372,22167.88,1091.92,-0.461372,-0.599471,-0.347938,21075.96,-9723.848140,Pakistan,-9723.848140,-12634.424324,-7333.125699
141,wasting,mean,baseline,none,malnourished,twenty_nine_days,9.545825,-0.454175,8102.62,513.29,-0.454175,-0.590128,-0.339966,7589.33,-3446.883191,Pakistan,-3446.883191,-4478.678958,-2580.116585
143,wasting,mean,baseline,none,normal,twenty_nine_days,9.539871,-0.460129,67044.95,3439.24,-0.460129,-0.608052,-0.349836,63605.71,-29266.823634,Pakistan,-29266.823634,-38675.575262,-22251.542576

#### 2) 366 days

In [22]:
# wasting BASELINE 366days

wasting_5a_baseline366 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['baseline']) & \
                                    master_cgf_5a['treatment_group'].isin(['ifa','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)')
wasting_5a_baseline366

artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
132,wasting,mean,baseline,ifa,malnourished,three_six_six_days,9.498848,-0.501152,5806.52,233.14,-0.501152,-0.537538,-0.460602,5573.38,-2793.111960,India
134,wasting,mean,baseline,ifa,normal,three_six_six_days,9.492941,-0.507059,28448.79,994.84,-0.507059,-0.533545,-0.477439,27453.95,-13920.785473,India
140,wasting,mean,baseline,none,malnourished,three_six_six_days,9.498272,-0.501728,11126.53,487.58,-0.501728,-0.534672,-0.467251,10638.95,-5337.858253,India
142,wasting,mean,baseline,none,normal,three_six_six_days,9.493114,-0.506886,54618.16,1974.95,-0.506886,-0.526856,-0.484255,52643.21,-26684.095218,India

### Running baseline wasting z-score at 366 days per country

In [23]:

wasting_5a_baseline366['weighted_Z_SCORE'] = wasting_5a_baseline366['Z_SCORE'] * wasting_5a_baseline366['alive']
wasting_5a_baseline366_mean = wasting_5a_baseline366['weighted_Z_SCORE'].sum()/wasting_5a_baseline366['alive'].sum()

wasting_5a_baseline366_malnourished = wasting_5a_baseline366[wasting_5a_baseline366['mother_status'].isin(['malnourished'])]
wasting_5a_baseline366_malnourished_mean = wasting_5a_baseline366_malnourished['weighted_Z_SCORE'].sum()/wasting_5a_baseline366_malnourished['alive'].sum()

wasting_5a_baseline366_normal = wasting_5a_baseline366[wasting_5a_baseline366['mother_status'].isin(['normal'])]
wasting_5a_baseline366_normal_mean =  wasting_5a_baseline366_normal['weighted_Z_SCORE'].sum()/wasting_5a_baseline366_normal['alive'].sum()

print("overall =", + wasting_5a_baseline366_mean)
print("malnourished =", + wasting_5a_baseline366_malnourished_mean)
print("normal =", + wasting_5a_baseline366_normal_mean)

wasting_5a_baseline366

/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

overall = -0.5060337346209554
malnourished = -0.5015300214636148
normal = -0.5069453235453586

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location,weighted_Z_SCORE
132,wasting,mean,baseline,ifa,malnourished,three_six_six_days,9.498848,-0.501152,5806.52,233.14,-0.501152,-0.537538,-0.460602,5573.38,-2793.111960,India,-2793.111960
134,wasting,mean,baseline,ifa,normal,three_six_six_days,9.492941,-0.507059,28448.79,994.84,-0.507059,-0.533545,-0.477439,27453.95,-13920.785473,India,-13920.785473
140,wasting,mean,baseline,none,malnourished,three_six_six_days,9.498272,-0.501728,11126.53,487.58,-0.501728,-0.534672,-0.467251,10638.95,-5337.858253,India,-5337.858253
142,wasting,mean,baseline,none,normal,three_six_six_days,9.493114,-0.506886,54618.16,1974.95,-0.506886,-0.526856,-0.484255,52643.21,-26684.095218,India,-26684.095218

## WASTING -MMN

#### 3) 29 days

In [24]:
## wasting 29days

wasting_5a_mmn29 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['mmn_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)')
wasting_5a_mmn29

artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
185,wasting,mean,mmn_scale_up,mmn,malnourished,twenty_nine_days,9.574084,-0.425916,13441.94,513.93,-0.425916,-0.453649,-0.393430,12928.01,-5506.251562,India
187,wasting,mean,mmn_scale_up,mmn,normal,twenty_nine_days,9.569686,-0.430314,65960.23,2251.66,-0.430314,-0.454978,-0.410075,63708.57,-27414.695802,India
189,wasting,mean,mmn_scale_up,none,malnourished,twenty_nine_days,9.577378,-0.422622,3491.11,153.65,-0.422622,-0.471075,-0.366394,3337.46,-1410.483529,India
191,wasting,mean,mmn_scale_up,none,normal,twenty_nine_days,9.573677,-0.426323,17106.72,618.00,-0.426323,-0.452327,-0.396751,16488.72,-7029.520512,India

#### 4) 366 days

In [25]:
# WASTING 366days

wasting_5a_mmn366 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['mmn_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)')
wasting_5a_mmn366

artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
184,wasting,mean,mmn_scale_up,mmn,malnourished,three_six_six_days,9.495331,-0.504669,13441.94,513.93,-0.504669,-0.538640,-0.472440,12928.01,-6524.360832,India
186,wasting,mean,mmn_scale_up,mmn,normal,three_six_six_days,9.491449,-0.508551,65960.23,2251.66,-0.508551,-0.530018,-0.485006,63708.57,-32399.063058,India
188,wasting,mean,mmn_scale_up,none,malnourished,three_six_six_days,9.498727,-0.501273,3491.11,153.65,-0.501273,-0.553521,-0.449939,3337.46,-1672.978953,India
190,wasting,mean,mmn_scale_up,none,normal,three_six_six_days,9.495008,-0.504992,17106.72,618.00,-0.504992,-0.531178,-0.474431,16488.72,-8326.666397,India

## WASTING -BEP CURRENT EVIDENCE (CE) UNIVERSAL

#### 5) 29 days

In [26]:
## WASTING 29days

wasting_5a_bep_ce_universal_29 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)')
wasting_5a_bep_ce_universal_29

artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
145,wasting,mean,bep_ce_scale_up,bep,malnourished,twenty_nine_days,9.572073,-0.427927,13441.94,481.63,-0.427927,-0.455753,-0.396008,12960.31,-5546.062129,India
147,wasting,mean,bep_ce_scale_up,bep,normal,twenty_nine_days,9.569428,-0.430572,65960.23,2230.64,-0.430572,-0.455715,-0.410470,63729.59,-27440.167858,India
157,wasting,mean,bep_ce_scale_up,none,malnourished,twenty_nine_days,9.577378,-0.422622,3491.11,153.65,-0.422622,-0.471075,-0.366394,3337.46,-1410.483529,India
159,wasting,mean,bep_ce_scale_up,none,normal,twenty_nine_days,9.573677,-0.426323,17106.72,618.00,-0.426323,-0.452327,-0.396751,16488.72,-7029.520512,India

#### 6) 366 days

In [27]:
## WASTING 366days

wasting_5a_bep_ce_universal_366 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)')
wasting_5a_bep_ce_universal_366

artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
144,wasting,mean,bep_ce_scale_up,bep,malnourished,three_six_six_days,9.493530,-0.506470,13441.94,481.63,-0.506470,-0.540145,-0.474785,12960.31,-6564.006838,India
146,wasting,mean,bep_ce_scale_up,bep,normal,three_six_six_days,9.491221,-0.508779,65960.23,2230.64,-0.508779,-0.530354,-0.485187,63729.59,-32424.257005,India
156,wasting,mean,bep_ce_scale_up,none,malnourished,three_six_six_days,9.498727,-0.501273,3491.11,153.65,-0.501273,-0.553521,-0.449939,3337.46,-1672.978953,India
158,wasting,mean,bep_ce_scale_up,none,normal,three_six_six_days,9.495008,-0.504992,17106.72,618.00,-0.504992,-0.531178,-0.474431,16488.72,-8326.666397,India

## WASTING -BEP CURRENT EVIDENCE (CE) TARGETED

#### 7) 29 days

In [28]:
## WASTING 29days

wasting_5a_bep_ce_targeted_29 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_targeted_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]

print('artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)')

wasting_5a_bep_ce_targeted_29

artifact = -0.444203 for 1000 draws in artifact wasting 29 days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
161,wasting,mean,bep_ce_targeted_scale_up,bep,malnourished,twenty_nine_days,9.572073,-0.427927,13441.94,481.63,-0.427927,-0.455753,-0.396008,12960.31,-5546.062129,India
163,wasting,mean,bep_ce_targeted_scale_up,bep,normal,twenty_nine_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
169,wasting,mean,bep_ce_targeted_scale_up,mmn,malnourished,twenty_nine_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
171,wasting,mean,bep_ce_targeted_scale_up,mmn,normal,twenty_nine_days,9.569686,-0.430314,65960.23,2251.66,-0.430314,-0.454978,-0.410075,63708.57,-27414.695802,India
173,wasting,mean,bep_ce_targeted_scale_up,none,malnourished,twenty_nine_days,9.577378,-0.422622,3491.11,153.65,-0.422622,-0.471075,-0.366394,3337.46,-1410.483529,India
175,wasting,mean,bep_ce_targeted_scale_up,none,normal,twenty_nine_days,9.573677,-0.426323,17106.72,618.00,-0.426323,-0.452327,-0.396751,16488.72,-7029.520512,India

#### 8) 366 days

In [29]:
## wasting 366days

wasting_5a_bep_ce_targeted_366 = master_cgf_5a[master_cgf_5a['risk'].isin(['wasting']) & \
                                    master_cgf_5a['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5a['scenario'].isin(['bep_ce_targeted_scale_up']) & \
                                    master_cgf_5a['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5a['location'].isin(['India']) & \
                                    master_cgf_5a['measure'].isin(['mean'])]
print('artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)')
wasting_5a_bep_ce_targeted_366

artifact = -0.533409 wasting from artifact 1000 draws 366 days(india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,mean,2.5%,97.5%,alive,alive_x_cgf,location
160,wasting,mean,bep_ce_targeted_scale_up,bep,malnourished,three_six_six_days,9.493530,-0.506470,13441.94,481.63,-0.506470,-0.540145,-0.474785,12960.31,-6564.006838,India
162,wasting,mean,bep_ce_targeted_scale_up,bep,normal,three_six_six_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
168,wasting,mean,bep_ce_targeted_scale_up,mmn,malnourished,three_six_six_days,0.000000,-10.000000,0.00,0.00,-10.000000,-10.000000,-10.000000,0.00,-0.000000,India
170,wasting,mean,bep_ce_targeted_scale_up,mmn,normal,three_six_six_days,9.491449,-0.508551,65960.23,2251.66,-0.508551,-0.530018,-0.485006,63708.57,-32399.063058,India
172,wasting,mean,bep_ce_targeted_scale_up,none,malnourished,three_six_six_days,9.498727,-0.501273,3491.11,153.65,-0.501273,-0.553521,-0.449939,3337.46,-1672.978953,India
174,wasting,mean,bep_ce_targeted_scale_up,none,normal,three_six_six_days,9.495008,-0.504992,17106.72,618.00,-0.504992,-0.531178,-0.474431,16488.72,-8326.666397,India

# ------------------------------------------------------------------------------------

## RUN 5b BEP_HD_scale_up, BEP_HD_targeted_scale_up

In [30]:
#RUN 5b (bep_ce_universal & targeted)

master_cgf_5b = pd.DataFrame()

for i in list(range(len(output_dirs5b))):
    #cgf
    cgf_5b = pd.read_hdf(output_dirs5b[i] + 'cgf_z_scores.hdf').reset_index().sort_values(by=['input_draw','risk','measure','scenario','treatment_group','mother_status'])
    cgf_5b = cgf_5b.rename(columns={'value':'zscore'})
    cgf_5b['Z_SCORE'] = cgf_5b['zscore'] - 10
    
    #population
    pop = pd.read_hdf(output_dirs5b[i] + 'population.hdf').reset_index()
    pop = pop.where(pop['measure'] == 'total_population').dropna().rename(columns={'value':'start_population'}).drop(columns=['index','measure'])
    
    died = pd.read_hdf(output_dirs5b[i] + 'deaths.hdf')
    died = died.groupby(['input_draw', 'scenario','mother_status','treatment_group']).sum().rename(columns={'value':'deaths'}).reset_index()
    
    pop = pop.merge(died, right_on=['scenario','treatment_group','mother_status','input_draw'], left_on=['scenario','treatment_group','mother_status','input_draw'])
    
    data = pd.merge(cgf_5b, pop, left_on=['input_draw','scenario','treatment_group','mother_status'], right_on=['input_draw','scenario','treatment_group','mother_status'], how='outer')
    
    data = data.groupby(['risk','measure','scenario','treatment_group','mother_status','timepoint']).mean().drop(columns=['input_draw','index']).reset_index() #average over input draws
    
    data['alive'] = data['start_population'] - data['deaths']
    data['alive_x_cgf'] = data['Z_SCORE'] * data['alive'] #cannot use this as weight because the population is the population supplemented (or at birth) whereas the z-score is among alive population at 2 years
    data['location'] = locations[i]
    master_cgf_5b = master_cgf_5b.append(data)
    
master_cgf_5b.head()

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
0,stunting,mean,bep_hd_scale_up,bep,malnourished,three_six_six_days,8.751787,-1.248213,13441.94,449.51,12992.43,-16217.315788,India
1,stunting,mean,bep_hd_scale_up,bep,malnourished,twenty_nine_days,9.404566,-0.595434,13441.94,449.51,12992.43,-7736.136738,India
2,stunting,mean,bep_hd_scale_up,bep,normal,three_six_six_days,8.754272,-1.245728,65960.23,2124.83,63835.40,-79521.556032,India
3,stunting,mean,bep_hd_scale_up,bep,normal,twenty_nine_days,9.406979,-0.593021,65960.23,2124.83,63835.40,-37855.727209,India
4,stunting,mean,bep_hd_scale_up,ifa,malnourished,three_six_six_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India

## STUNTING -BEP HOPES N DREAMS (HD) UNIVERSAL

### 1) 29 days

In [31]:
## STUNTING 29days

stunting_5b_bep_hd_universal_29 = master_cgf_5b[master_cgf_5b['risk'].isin(['stunting']) & \
                                    master_cgf_5b['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5b['location'].isin(['Tanzania']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]

print('artifact MEAN baseline = -0.913531 for 1000 draws in artifact 29days (india)')
stunting_5b_bep_hd_universal_29

artifact MEAN baseline = -0.913531 for 1000 draws in artifact 29days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
1,stunting,mean,bep_hd_scale_up,bep,malnourished,twenty_nine_days,9.214009,-0.785991,8471.55,369.54,8102.01,-6368.109614,Tanzania
3,stunting,mean,bep_hd_scale_up,bep,normal,twenty_nine_days,9.215712,-0.784288,79992.62,3429.52,76563.10,-60047.507839,Tanzania
13,stunting,mean,bep_hd_scale_up,none,malnourished,twenty_nine_days,8.925483,-1.074517,1107.36,55.39,1051.97,-1130.359941,Tanzania
15,stunting,mean,bep_hd_scale_up,none,normal,twenty_nine_days,8.919429,-1.080571,10428.47,475.37,9953.10,-10755.029620,Tanzania

#### 2) 366 days

In [32]:
## STUNTING 366days

stunting_5b_bep_hd_universal_366 = master_cgf_5b[master_cgf_5b['risk'].isin(['stunting']) & \
                                    master_cgf_5b['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5b['location'].isin(['India']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]
print('artifact MEAN baseline = -1.587298 366days (india)')
stunting_5b_bep_hd_universal_366

artifact MEAN baseline = -1.587298 366days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
0,stunting,mean,bep_hd_scale_up,bep,malnourished,three_six_six_days,8.751787,-1.248213,13441.94,449.51,12992.43,-16217.315788,India
2,stunting,mean,bep_hd_scale_up,bep,normal,three_six_six_days,8.754272,-1.245728,65960.23,2124.83,63835.40,-79521.556032,India
12,stunting,mean,bep_hd_scale_up,none,malnourished,three_six_six_days,8.470892,-1.529108,3491.11,153.65,3337.46,-5103.335904,India
14,stunting,mean,bep_hd_scale_up,none,normal,three_six_six_days,8.460448,-1.539552,17106.72,618.00,16488.72,-25385.246819,India

## STUNTING -BEP HOPES n' DREAMS (HD) TARGETED

#### 3) 29 days

In [33]:
## STUNTING 29days

stunting_5b_bep_hd_targeted_29 = master_cgf_5b[master_cgf_5b['risk'].isin(['stunting']) & \
                                    master_cgf_5b['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_targeted_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5b['location'].isin(['India']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]
print('artifact mean baseline= -0.887103 29days (india)')
stunting_5b_bep_hd_targeted_29

artifact mean baseline= -0.887103 29days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
17,stunting,mean,bep_hd_targeted_scale_up,bep,malnourished,twenty_nine_days,9.404566,-0.595434,13441.94,449.51,12992.43,-7736.136738,India
19,stunting,mean,bep_hd_targeted_scale_up,bep,normal,twenty_nine_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
25,stunting,mean,bep_hd_targeted_scale_up,mmn,malnourished,twenty_nine_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
27,stunting,mean,bep_hd_targeted_scale_up,mmn,normal,twenty_nine_days,9.110061,-0.889939,65960.23,2251.66,63708.57,-56696.760948,India
29,stunting,mean,bep_hd_targeted_scale_up,none,malnourished,twenty_nine_days,9.125089,-0.874911,3491.11,153.65,3337.46,-2919.980594,India
31,stunting,mean,bep_hd_targeted_scale_up,none,normal,twenty_nine_days,9.112428,-0.887572,17106.72,618.00,16488.72,-14634.932908,India

#### 4) 366 days

In [34]:
## STUNTING 366days

stunting_5b_bep_hd_targeted_366 = master_cgf_5b[master_cgf_5b['risk'].isin(['stunting']) & \
                                    master_cgf_5b['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_targeted_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5b['location'].isin(['India']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]
print('artifact = -1.587298 366days (india)')
stunting_5b_bep_hd_targeted_366

artifact = -1.587298 366days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
16,stunting,mean,bep_hd_targeted_scale_up,bep,malnourished,three_six_six_days,8.751787,-1.248213,13441.94,449.51,12992.43,-16217.315788,India
18,stunting,mean,bep_hd_targeted_scale_up,bep,normal,three_six_six_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
24,stunting,mean,bep_hd_targeted_scale_up,mmn,malnourished,three_six_six_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
26,stunting,mean,bep_hd_targeted_scale_up,mmn,normal,three_six_six_days,8.458342,-1.541658,65960.23,2251.66,63708.57,-98216.841469,India
28,stunting,mean,bep_hd_targeted_scale_up,none,malnourished,three_six_six_days,8.470892,-1.529108,3491.11,153.65,3337.46,-5103.335904,India
30,stunting,mean,bep_hd_targeted_scale_up,none,normal,three_six_six_days,8.460448,-1.539552,17106.72,618.00,16488.72,-25385.246819,India

## WASTING -BEP HOPES n' DREAMS (HD) UNIVERSAL

#### 1) 29 days

In [35]:
## WASTING 29days

wasting_5b_bep_hd_universal_29 = master_cgf_5b[master_cgf_5b['risk'].isin(['wasting']) & \
                                    master_cgf_5b['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5b['location'].isin(['India']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]
print('artifact MEAN baseline= -0.451174 wasting 29 days (india)')
wasting_5b_bep_hd_universal_29

artifact MEAN baseline= -0.451174 wasting 29 days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
65,wasting,mean,bep_hd_scale_up,bep,malnourished,twenty_nine_days,9.868705,-0.131295,13441.94,449.51,12992.43,-1705.839887,India
67,wasting,mean,bep_hd_scale_up,bep,normal,twenty_nine_days,9.866723,-0.133277,65960.23,2124.83,63835.40,-8507.796385,India
77,wasting,mean,bep_hd_scale_up,none,malnourished,twenty_nine_days,9.577378,-0.422622,3491.11,153.65,3337.46,-1410.483529,India
79,wasting,mean,bep_hd_scale_up,none,normal,twenty_nine_days,9.573677,-0.426323,17106.72,618.00,16488.72,-7029.520512,India

#### 2) 366 days

In [36]:
## WASTING 366days

wasting_5b_bep_hd_universal_366 = master_cgf_5b[master_cgf_5b['risk'].isin(['wasting']) & \
                                    master_cgf_5b['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','none']) & \
                                    master_cgf_5b['location'].isin(['India']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]
print('artifact MEAN baseline= -0.536096 wasting 366 days(india)')
wasting_5b_bep_hd_universal_366

artifact MEAN baseline= -0.536096 wasting 366 days(india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
64,wasting,mean,bep_hd_scale_up,bep,malnourished,three_six_six_days,9.787540,-0.212460,13441.94,449.51,12992.43,-2760.375642,India
66,wasting,mean,bep_hd_scale_up,bep,normal,three_six_six_days,9.785810,-0.214190,65960.23,2124.83,63835.40,-13672.930609,India
76,wasting,mean,bep_hd_scale_up,none,malnourished,three_six_six_days,9.498727,-0.501273,3491.11,153.65,3337.46,-1672.978953,India
78,wasting,mean,bep_hd_scale_up,none,normal,three_six_six_days,9.495008,-0.504992,17106.72,618.00,16488.72,-8326.666397,India

## WASTING -BEP HOPES n' DREAMS (HD) TARGETED

#### 3) 29 days

In [37]:
## WASTING 29days

wasting_5b_bep_hd_targeted_29 = master_cgf_5b[master_cgf_5b['risk'].isin(['wasting']) & \
                                    master_cgf_5b['timepoint'].isin(['twenty_nine_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_targeted_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5b['location'].isin(['India']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]
print('artifact MEAN baseline = -0.451174 wasting 29 days (india)')
wasting_5b_bep_hd_targeted_29

artifact MEAN baseline = -0.451174 wasting 29 days (india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
81,wasting,mean,bep_hd_targeted_scale_up,bep,malnourished,twenty_nine_days,9.868705,-0.131295,13441.94,449.51,12992.43,-1705.839887,India
83,wasting,mean,bep_hd_targeted_scale_up,bep,normal,twenty_nine_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
89,wasting,mean,bep_hd_targeted_scale_up,mmn,malnourished,twenty_nine_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
91,wasting,mean,bep_hd_targeted_scale_up,mmn,normal,twenty_nine_days,9.569686,-0.430314,65960.23,2251.66,63708.57,-27414.695802,India
93,wasting,mean,bep_hd_targeted_scale_up,none,malnourished,twenty_nine_days,9.577378,-0.422622,3491.11,153.65,3337.46,-1410.483529,India
95,wasting,mean,bep_hd_targeted_scale_up,none,normal,twenty_nine_days,9.573677,-0.426323,17106.72,618.00,16488.72,-7029.520512,India

#### 4) 366 days

In [38]:
## wasting 366days

wasting_5b_bep_hd_targeted_366 = master_cgf_5b[master_cgf_5b['risk'].isin(['wasting']) & \
                                    master_cgf_5b['timepoint'].isin(['three_six_six_days']) & \
                                    master_cgf_5b['scenario'].isin(['bep_hd_targeted_scale_up']) & \
                                    master_cgf_5b['treatment_group'].isin(['bep','mmn','none']) & \
                                    master_cgf_5b['location'].isin(['India']) & \
                                    master_cgf_5b['measure'].isin(['mean'])]
print('artifact MEAN BASELINE= -0.536096 wasting 366 days(india)')
wasting_5b_bep_hd_targeted_366

artifact MEAN BASELINE= -0.536096 wasting 366 days(india)

,risk,measure,scenario,treatment_group,mother_status,timepoint,zscore,Z_SCORE,start_population,deaths,alive,alive_x_cgf,location
80,wasting,mean,bep_hd_targeted_scale_up,bep,malnourished,three_six_six_days,9.787540,-0.212460,13441.94,449.51,12992.43,-2760.375642,India
82,wasting,mean,bep_hd_targeted_scale_up,bep,normal,three_six_six_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
88,wasting,mean,bep_hd_targeted_scale_up,mmn,malnourished,three_six_six_days,0.000000,-10.000000,0.00,0.00,0.00,-0.000000,India
90,wasting,mean,bep_hd_targeted_scale_up,mmn,normal,three_six_six_days,9.491449,-0.508551,65960.23,2251.66,63708.57,-32399.063058,India
92,wasting,mean,bep_hd_targeted_scale_up,none,malnourished,three_six_six_days,9.498727,-0.501273,3491.11,153.65,3337.46,-1672.978953,India
94,wasting,mean,bep_hd_targeted_scale_up,none,normal,three_six_six_days,9.495008,-0.504992,17106.72,618.00,16488.72,-8326.666397,India

# ===============================================================

# PREVALENCE - FALL MODEL

In [39]:
!whoami
!date

nicoly
Thu Feb  4 01:41:46 PST 2021

In [40]:
cgf_cat = pd.read_hdf('/share/costeffectiveness/results/vivarium_gates_bep/winter_2020/5a/india/2020_12_18_16_23_36/count_data/cgf_categories.hdf')
cgf_cat.head()

,risk,treatment_group,mother_status,measure,input_draw,scenario,value,timepoint
0,stunting,bep,malnourished,cat1,3,baseline,0.0,twenty_nine_days
1,stunting,bep,malnourished,cat1,3,baseline,0.0,three_six_six_days
2,stunting,bep,malnourished,cat1,3,bep_ce_scale_up,1744.0,twenty_nine_days
3,stunting,bep,malnourished,cat1,3,bep_ce_scale_up,2611.0,three_six_six_days
4,stunting,bep,malnourished,cat1,3,bep_ce_targeted_scale_up,1744.0,twenty_nine_days

In [41]:
cgf_cat['scenario'].value_counts()

bep_ce_scale_up             12800
bep_ce_targeted_scale_up    12800
baseline                    12800
mmn_scale_up                12800
Name: scenario, dtype: int64

In [42]:
#select for only 29 days

cgf_cat = cgf_cat.groupby(['input_draw','risk','measure','scenario','timepoint']).sum().reset_index()
cgf_cat = cgf_cat[cgf_cat['scenario'].isin(['baseline']) & cgf_cat['timepoint'].isin(['twenty_nine_days'])]

cgf_cat.head()

    input_draw      risk measure  scenario         timepoint    value
1            3  stunting    cat1  baseline  twenty_nine_days  13095.0
9            3  stunting    cat2  baseline  twenty_nine_days  14908.0
17           3  stunting    cat3  baseline  twenty_nine_days  19976.0
25           3  stunting    cat4  baseline  twenty_nine_days  49622.0
33           3   wasting    cat1  baseline  twenty_nine_days   5681.0

In [43]:
cat_tots = cgf_cat.groupby(['input_draw', 'risk']).sum().reset_index()
cat_tots.head()

   input_draw      risk    value
0           3  stunting  97601.0
1           3   wasting  97601.0
2           8  stunting  97584.0
3           8   wasting  97584.0
4          21  stunting  97723.0

In [44]:
cat = pd.merge(cgf_cat, cat_tots, left_on = ['input_draw', 'risk'], right_on = ['input_draw', 'risk'], how = 'left')
cat = cat.rename(columns = {'value_x': 'exp_cat', 'value_y': 'exp_tot'})
cat['percent_cat'] = cat['exp_cat'] / cat['exp_tot']
cat.head()

,input_draw,risk,measure,scenario,timepoint,exp_cat,exp_tot,percent_cat
0,3,stunting,cat1,baseline,twenty_nine_days,13095.0,97601.0,0.134169
1,3,stunting,cat2,baseline,twenty_nine_days,14908.0,97601.0,0.152744
2,3,stunting,cat3,baseline,twenty_nine_days,19976.0,97601.0,0.204670
3,3,stunting,cat4,baseline,twenty_nine_days,49622.0,97601.0,0.508417
4,3,wasting,cat1,baseline,twenty_nine_days,5681.0,97601.0,0.058206

In [45]:
#merge back cgf_cats and cat_tots 

cat = pd.merge(cgf_cat, cat_tots, left_on = ['input_draw', 'risk'], right_on = ['input_draw', 'risk'], how = 'left')
cat = cat.rename(columns = {'value_x': 'exp_cat', 'value_y': 'exp_tot'})
cat['percent_cat'] = cat['exp_cat'] / cat['exp_tot']
cat = cat.groupby(['risk','measure']).percent_cat.describe(percentiles=[.025, 0.975]).filter(['mean', '2.5%', '97.5%']).reset_index() #get 95%CIs
cat

       risk measure      mean      2.5%     97.5%
0  stunting    cat1  0.135885  0.128619  0.143838
1  stunting    cat2  0.150178  0.146025  0.154613
2  stunting    cat3  0.203948  0.195796  0.214103
3  stunting    cat4  0.509989  0.500776  0.521432
4   wasting    cat1  0.060311  0.057750  0.062901
5   wasting    cat2  0.105605  0.103379  0.107750
6   wasting    cat3  0.196288  0.192590  0.200405
7   wasting    cat4  0.637796  0.633777  0.641838

#just checking population

In [54]:
pop_stunt = (cgf_test.where((cgf_test['risk'] == 'stunting') & (cgf_test['timepoint'] == 'twenty_nine_days') & (cgf_test['scenario'] == 'baseline')).dropna()
          .groupby(['input_draw','scenario','timepoint'], as_index=False).sum()
          .rename(columns={'value':'population'}))
pop_stunt.head()

NameError: name 'cgf_test' is not defined

In [47]:
pop_waste = (cgf_test.where((cgf_test['risk'] == 'wasting') & (cgf_test['timepoint'] == 'twenty_nine_days') & (cgf_test['scenario'] == 'baseline')).dropna()
          .groupby(['input_draw','scenario','timepoint'], as_index=False).sum()
          .rename(columns={'value':'population'}))
pop_waste.head()

NameError: name 'cgf_test' is not defined

pop_stunt and pop_waste is the same

# ALL TOGETHER NOW

In [48]:
master_cgf_cat = pd.DataFrame()

for i in list(range(len(output_dirs5a))):
    cgf_cat = pd.read_hdf(output_dirs5a[i] + 'cgf_categories.hdf').reset_index()
    
    cgf_cat = cgf_cat.groupby(['input_draw','risk','measure','scenario','timepoint']).sum().reset_index()
    cgf_cat = cgf_cat[cgf_cat['scenario'].isin(['baseline']) & cgf_cat['timepoint'].isin(['twenty_nine_days'])]
    cat_tots = cgf_cat.groupby(['input_draw', 'risk']).sum().reset_index()
    
    cat = pd.merge(cgf_cat, cat_tots, left_on = ['input_draw', 'risk'], right_on = ['input_draw', 'risk'], how = 'left')
    cat = cat.rename(columns = {'value_x': 'exp_cat', 'value_y': 'exp_tot'})
    cat['percent_cat'] = cat['exp_cat'] / cat['exp_tot']
    cat = cat.groupby(['risk','measure']).percent_cat.describe(percentiles=[.025, 0.975]).filter(['mean', '2.5%', '97.5%']).reset_index() #get 95%CIs
    
    cat['location'] = locations[i]
    master_cgf_cat =  master_cgf_cat.append(cat)
    
    master_cgf_cat

In [62]:
#for table 3

see_cat = master_cgf_cat[master_cgf_cat['risk'].isin(['wasting'])& \
                        master_cgf_cat['location'].isin(['Tanzania'])]

see_cat

      risk measure      mean      2.5%     97.5%  location
4  wasting    cat1  0.015765  0.011515  0.020240  Tanzania
5  wasting    cat2  0.052049  0.045597  0.059413  Tanzania
6  wasting    cat3  0.158233  0.151406  0.167419  Tanzania
7  wasting    cat4  0.773953  0.754895  0.788328  Tanzania

cat1='Child wasting exposure, <-3 sd',

cat2='Child wasting exposure,  -3 to -2 sd',

cat3='Child wasting exposure,  -2 to -1 sd',

cat4='Unexposed'

# PREVALENCE

# ================= FEB 2020 model =====================================

 I think the population needs to be updated to those alive

In [50]:
cgf_feb = pd.read_hdf('/share/costeffectiveness/results/vivarium_gates_bep/malnutrition/india/2020_02_05_03_02_13/count_space/category_counts.hdf').reset_index()
cgf_feb.head()

,input_draw,cgf_risk,risk_category,sex,malnourishment_category,category_counts
0,29.0,wasting,cat1,male,malnourished,2619.0
1,29.0,wasting,cat1,male,not_malnourished,2047.0
2,29.0,wasting,cat2,male,malnourished,2559.0
3,29.0,wasting,cat2,male,not_malnourished,4350.0
4,29.0,wasting,cat3,male,malnourished,2789.0

In [51]:
master_stunting = pd.DataFrame()
master_wasting = pd.DataFrame()

for i in list(range(len(output_dirs))):
    cgf = pd.read_hdf(output_dirs[i] + 'category_counts.hdf').reset_index()
    cgf = (cgf.where(cgf['sex'] == 'male').dropna()
           .groupby(['input_draw','cgf_risk','risk_category','malnourishment_category']).sum()
           .reset_index())
    
    pop = (cgf.where(cgf['cgf_risk'] == 'stunting').dropna()
          .groupby(['input_draw','malnourishment_category'], as_index=False).sum()
          .rename(columns={'category_counts':'population'}))
    
    cgf = cgf.where(cgf['risk_category'] == ('cat1' or 'cat2'))
    
    data = cgf.merge(pop, right_on=['input_draw','malnourishment_category'], 
                     left_on=['input_draw','malnourishment_category'])
    stratified = data.groupby(['input_draw','malnourishment_category','cgf_risk']).sum().reset_index()
    
    overall = data.groupby(['input_draw','cgf_risk']).sum().reset_index()
    
    overall['malnourishment_category'] = 'all'
    data = stratified.append(overall)  
    
    stunted = (data.where(data['cgf_risk'] == 'stunting').dropna())
    stunted['percent'] = stunted['category_counts'] / stunted['population']
    
    #get 95%CI
    #stunted = (stunted.groupby(['malnourishment_category']).mean().drop(columns=['input_draw','category_counts','population']).reset_index()) 
    stunted = stunted.groupby(['malnourishment_category']).percent.describe(percentiles=[.025, 0.975]).filter(['mean', '2.5%', '97.5%']).reset_index() #get 95%CIs
    
    stunted['location'] = locations[i]
    master_stunting = master_stunting.append(stunted)   
    
    wasted = (data.where(data['cgf_risk'] == 'wasting').dropna())
    wasted['percent'] = wasted['category_counts'] / wasted['population']
    
    #get 95%CI
    #wasted = (wasted.groupby(['malnourishment_category']).mean().drop(columns=['input_draw','category_counts','population']).reset_index()) 
    wasted = wasted.groupby(['malnourishment_category']).percent.describe(percentiles=[.025, 0.975]).filter(['mean', '2.5%', '97.5%']).reset_index() #get 95%CIs
    
    wasted['location'] = locations[i]
    master_wasting = master_wasting.append(wasted)
    master_wasting

/share/code/nicoly/miniconda/envs/gates_bep/lib/python3.6/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [52]:
master_wasting

  malnourishment_category      mean      2.5%     97.5%  location
0                     all  0.055677  0.053174  0.059219     India
1            malnourished  0.142786  0.092195  0.215765     India
2        not_malnourished  0.038791  0.031343  0.047134     India
0                     all  0.030601  0.022907  0.040365  Pakistan
1            malnourished  0.090116  0.048792  0.122800  Pakistan
2        not_malnourished  0.024041  0.015732  0.032911  Pakistan
0                     all  0.014787  0.012454  0.017964      Mali
1            malnourished  0.041370  0.025307  0.066042      Mali
2        not_malnourished  0.012091  0.010079  0.015321      Mali

In [53]:
master_stunting

  malnourishment_category      mean      2.5%     97.5%  location
0                     all  0.091158  0.088499  0.092679     India
1            malnourished  0.200051  0.144434  0.273186     India
2        not_malnourished  0.069993  0.058437  0.081425     India
0                     all  0.038440  0.014022  0.110770  Pakistan
1            malnourished  0.131865  0.045899  0.310911  Pakistan
2        not_malnourished  0.028073  0.008989  0.088284  Pakistan
0                     all  0.059996  0.052047  0.066415      Mali
1            malnourished  0.138289  0.086396  0.182196      Mali
2        not_malnourished  0.052009  0.040840  0.060166      Mali